@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800&display=swap");
h1 {
  font-size: 72px;
  font-weight: 900; }

h2 {
  font-size: 45px;
  font-weight: 700; }

h3 {
  font-size: 32px;
  font-weight: 600; }

h4 {
  font-size: 24px;
  font-weight: 600; }

h5 {
  font-size: 20px;
  font-weight: 600; }

h6 {
  font-size: 18px;
  font-weight: 600; }

p {
  font-size: 16px; }

/*# sourceMappingURL=detail.css.map */
