
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800&display=swap');
$text:#494848;
$tim:#332B68;
$green:#85B867;
$green-text:#85B867;
$text:#494848;
$text-alpha:#707070;
$gradient-color: linear-gradient(90deg, #2F7DF7 0%, #0AE5FF 100%);
$border: #E6E6E6;
$bg-gray: #F5F7FB;
$brand: #332B68;

h1{
	font-size: 72px;
	font-weight: 900;
}
h2{
	font-size: 45px;
	font-weight: 700;
}
h3{
	font-size: 32px;
	font-weight: 600;
}
h4{
	font-size: 24px;
	font-weight: 600;
}
h5{
	font-size: 20px;
	font-weight: 600;
}
h6{
	font-size: 18px;
	font-weight: 600;
}
p{
	font-size: 16px;
}
