@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?7kxj81');
  src:  url('../fonts/icomoon.eot?7kxj81#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?7kxj81') format('truetype'),
    url('../fonts/icomoon.woff?7kxj81') format('woff'),
    url('../fonts/icomoon.svg?7kxj81#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e909";
  color: #fff;
}
.icon-fb:before {
  content: "\e908";
  color: #fff;
}
.icon-youtube:before {
  content: "\e907";
  color: #fff;
}
.icon-building:before {
  content: "\e906";
  color: #332b68;
}
.icon-kh:before {
  content: "\e905";
  color: #85b867;
}
.icon-check:before {
  content: "\e904";
  color: #fff;
}
.icon-play:before {
  content: "\e903";
  color: #fff;
}
.icon-arrow-right:before {
  content: "\e902";
  color: #fff;
}
.icon-search:before {
  content: "\e900";
  color: #fff;
}
.icon-call:before {
  content: "\e901";
  color: #85b867;
}
