@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap");
.menu-mobile {
  display: none; }

.call-buton {
  display: none; }

.search-mobile {
  display: none; }

.search-mobile-dis {
  display: none; }

.ngon-ngu {
  display: none; }

@media only screen and (max-width: 1400px) {
  .btn-common {
    padding: 0 25px;
    height: 43px;
    line-height: 40px;
    font-size: 14px; } }
@media only screen and (max-width: 1201px) {
  .btn-common {
    display: inline-block;
    background: transparent;
    padding: 0 30px;
    text-align: center;
    transition: all .3s ease-in-out;
    border: 1.5px solid white;
    color: white;
    border-radius: 30px;
    height: 42px;
    line-height: 41px;
    font-weight: 600; }
    .btn-common span {
      margin-left: 5px; }
    .btn-common:hover {
      opacity: 0.8;
      color: white;
      background: #85B867;
      border-color: #85B867; }

  .btn-common-fill {
    display: inline-block;
    background: #332B68;
    padding: 0 30px;
    color: white;
    text-align: center;
    transition: all .3s ease-in-out;
    border: 1.5px solid #332B68;
    color: white;
    border-radius: 30px;
    height: 55px;
    line-height: 51px;
    font-weight: 600; }
    .btn-common-fill span {
      margin-left: 5px; }
    .btn-common-fill:hover {
      opacity: 0.8;
      color: white;
      background: #85B867;
      border-color: #85B867; }

  .btn-common-noborder {
    display: inline-block;
    background: transparent;
    padding: 0 30px;
    text-align: center;
    transition: all .3s ease-in-out;
    border: 1.5px solid transparent;
    color: #332B68;
    border-radius: 30px;
    height: 55px;
    line-height: 51px;
    font-weight: 600; }
    .btn-common-noborder span.icon-arrow-right {
      margin-left: 5px; }
      .btn-common-noborder span.icon-arrow-right::before {
        color: #332B68; }
    .btn-common-noborder:hover {
      opacity: 0.8;
      color: #332B68;
      background: transparent;
      border-color: #332B68; } }
@media only screen and (max-width: 1025px) {
  .think-customer .cam-nhan-khach-hang .noi-dung-cam-nhan {
    min-height: auto; }

  .section-hospital .store button {
    padding: 23px 30px; }

  /*===============menu====================*/
  .menu {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center; }
    .menu nav ul {
      padding: 0; }
      .menu nav ul li {
        list-style: none;
        padding: 5px 0; }
        .menu nav ul li button {
          background: none;
          border: none;
          outline: none; }
        .menu nav ul li i {
          display: none; }
        .menu nav ul li a {
          padding: 0 10px;
          position: relative;
          font-size: 13px; }
        .menu nav ul li a.call-phone {
          display: flex;
          align-items: center;
          color: #85C86F; }
          .menu nav ul li a.call-phone span {
            font-size: 20px;
            padding-left: 5px;
            font-weight: 600; }
          .menu nav ul li a.call-phone .icon-call::before {
            font-size: 20px; }
        .menu nav ul li ul {
          position: absolute;
          top: 45px;
          padding: 8px 0;
          width: 200px;
          left: 0;
          opacity: 0;
          visibility: hidden;
          background: white;
          box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
          border-radius: 8px;
          padding: 0 8px; }
          .menu nav ul li ul li {
            padding: 5px;
            transition: all 0.3s linear; }
            .menu nav ul li ul li a {
              display: inline-block;
              width: 100%;
              font-weight: normal;
              padding: 8px 0;
              transition: 0.5s;
              color: #494848; }
              .menu nav ul li ul li a::before {
                display: none; }
              .menu nav ul li ul li a:hover {
                color: #85B867;
                background: #F5F7FB;
                padding-left: 8px;
                border-radius: 2px; }
        .menu nav ul li:hover ul {
          opacity: 1;
          visibility: initial; }
        .menu nav ul li.active a {
          color: #85B867; }
        .menu nav ul li.active ul li a {
          color: #494848; }
          .menu nav ul li.active ul li a:hover, .menu nav ul li.active ul li a.active {
            color: #85B867 !important; }

  .btn-common-noborder {
    display: inline-block;
    background: transparent;
    padding: 0 15px;
    text-align: center;
    transition: all .3s ease-in-out;
    border: 1.5px solid transparent;
    color: #332B68;
    border-radius: 30px;
    height: 42px;
    line-height: 41px;
    font-weight: 600;
    font-size: 13px; }

  /*===============footer====================*/
  footer {
    padding: 40px;
    display: inline-block;
    width: 100%;
    background-color: #332B68;
    text-align: center; }
    footer a {
      color: #494848;
      margin: 0 20px; }
    footer .socical a {
      margin: 0 5px; }
    footer .link-footer {
      width: 100%;
      margin: 0;
      padding: 0;
      clear: both; }
      footer .link-footer .box-link-food {
        display: flex; }
        footer .link-footer .box-link-food ul {
          width: 50%;
          text-align: left;
          margin-bottom: 0; }
          footer .link-footer .box-link-food ul h6 {
            margin-bottom: 10px;
            font-weight: 600;
            color: white;
            text-transform: uppercase; }
          footer .link-footer .box-link-food ul li {
            list-style: none;
            padding-bottom: 10px; }
            footer .link-footer .box-link-food ul li a {
              color: #707070;
              text-decoration: none;
              transition: 0.5s;
              padding-left: 0;
              margin-left: 0;
              color: white;
              font-size: 14px; }
              footer .link-footer .box-link-food ul li a:hover {
                color: #85B867;
                text-decoration: underline; }
      footer .link-footer .footer-l {
        display: flex; }
        footer .link-footer .footer-l .img-logo {
          padding-right: 35px;
          width: 30%; }
          footer .link-footer .footer-l .img-logo img {
            width: 100%; }
        footer .link-footer .footer-l .text-descript-footer {
          width: 60%; }
          footer .link-footer .footer-l .text-descript-footer p {
            color: white;
            text-align: left;
            font-size: 14px; }
          footer .link-footer .footer-l .text-descript-footer .icon-footer {
            display: flex; }
            footer .link-footer .footer-l .text-descript-footer .icon-footer .hotline {
              text-align: left;
              display: flex;
              align-items: center; }
              footer .link-footer .footer-l .text-descript-footer .icon-footer .hotline .ti-headphone {
                padding-right: 10px; }
                footer .link-footer .footer-l .text-descript-footer .icon-footer .hotline .ti-headphone::before {
                  font-size: 24px;
                  color: white; }
              footer .link-footer .footer-l .text-descript-footer .icon-footer .hotline .number-hotline i {
                color: #fff;
                font-style: normal;
                font-family: 'Inter', sans-serif;
                padding: 0;
                margin: 0; }
              footer .link-footer .footer-l .text-descript-footer .icon-footer .hotline .number-hotline h4 a {
                color: white;
                font-family: 'Inter', sans-serif;
                padding: 0;
                margin: 0; }
    footer .bottom-footer {
      border-top: 1px solid #E6E6E6;
      padding-top: 20px; }
      footer .bottom-footer .infor-footer {
        text-align: center; }
        footer .bottom-footer .infor-footer a {
          font-size: 12px;
          margin: 0 5px;
          color: #707070;
          text-decoration: underline; }
      footer .bottom-footer .socical a i {
        width: 30px;
        height: 30px;
        background: #E4E4E4;
        border-radius: 50%;
        padding: 8px;
        color: #636F75; }
        footer .bottom-footer .socical a i:hover {
          background: #85B867;
          color: white; }
    footer .copyright {
      text-align: center; }
      footer .copyright p {
        color: #707070;
        font-size: 12px;
        padding-top: 20px; } }
@media only screen and (max-width: 950px) {
  .section-chung-nhan .chung-nhan .icon-item span {
    -webkit-line-clamp: 111; }

  header .content-head nav ul li.submenu {
    position: relative;
    width: 100%; }
    header .content-head nav ul li.submenu a {
      width: 100%; }
      header .content-head nav ul li.submenu a span {
        position: absolute;
        right: 15px;
        top: 20px; }

  header .content-head nav ul li.submenu {
    position: relative; }
    header .content-head nav ul li.submenu a span::before {
      font-size: 15px; }

  .mt-50 {
    margin-top: 20px; }

  .section-hospital .logo-doi-tac {
    padding-top: 20px; }

  .video-about-huro {
    border-radius: 12px !important;
    overflow: hidden; }

  .about-huro .video-cans {
    margin-top: 0 !important; }

  .call-phone {
    display: none; }

  .right-header span.icon-search {
    font-size: 17px; }

  .show-menu .menu nav {
    display: inline-block !important; }
  .show-menu .menu-mobile i.ti-close {
    display: block; }
  .show-menu .menu-mobile i.ti-menu {
    display: none; }

  footer .link-footer .footer-l {
    position: relative;
    padding-left: 0; }

  footer .link-footer .footer-l .img-logo {
    position: relative;
    left: 0;
    top: 0;
    width: 137px !important;
    margin: auto; }

  body .ngon-ngu-pc {
    margin-top: -6px !important; }

  .right-header ul li {
    list-style: none;
    margin-left: 0;
    margin-right: 39px; }

  .news-page .news .right-news {
    padding-left: 0; }

  .section-hospital .hospital-pic {
    position: relative; }

  .ngon-ngu {
    display: block; }

  .search {
    position: absolute;
    top: 60px; }

  .search .search-input {
    padding-left: 15px; }

  .section-tab .scroll-mobile {
    overflow-x: scroll;
    overflow-y: hidden;
    min-height: 223px; }
    .section-tab .scroll-mobile .nav.nav-tabs {
      border-bottom: none;
      width: 1200px; }

  .width-100 {
    -ms-flex: 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0;
    padding: 0; }

  .search-mobile-dis {
    display: block; }

  .menu-mobile {
    display: block;
    position: fixed;
    top: 15px;
    opacity: 1;
    right: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    z-index: 9; }
    .menu-mobile i {
      font-size: 22px;
      color: white; }
      .menu-mobile i.ti-close {
        display: none; }

  header {
    background-color: #332B68 !important; }
    header .content-head {
      align-items: center; }
      header .content-head .logo img {
        height: 60px;
        padding: 5px 0; }
      header .content-head nav {
        position: fixed;
        width: 100%;
        display: none;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
        background: white;
        top: 60px;
        left: 0; }
        header .content-head nav ul {
          display: inline-block;
          width: 100%;
          padding: 0 !important;
          margin: 0 !important; }
          header .content-head nav ul li {
            width: 100%;
            float: left; }
            header .content-head nav ul li a {
              font-size: 14px;
              color: #494848; }
            header .content-head nav ul li ul {
              top: 70px; }
          header .content-head nav ul .search-menu {
            display: none; }
    header.active nav {
      display: inline-block !important; }
    header.active .menu-mobile i::before {
      content: "\e646";
      font-family: 'themify'; }
    header.active .search-mobile {
      display: none;
      top: 0; }
      header.active .search-mobile input {
        height: 42px;
        border: 1px solid #E6E6E6;
        border-radius: 30px;
        width: 100%;
        text-indent: 15px; }

  /* ========================= Section banner ===================== */
  .section-banner-top {
    margin-top: 60px; }
    .section-banner-top .item-slider .slider-PC {
      width: 100%;
      display: block; }
    .section-banner-top .item-slider .body-content-slider {
      top: 0;
      position: absolute;
      width: 100%;
      left: 0; }
    .section-banner-top .item-slider .content-slider {
      width: 660px;
      display: inline-block; }
      .section-banner-top .item-slider .content-slider h1 {
        font-weight: 600;
        color: white;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        padding: 0;
        font-size: 44px;
        text-transform: uppercase; }
    .section-banner-top .item-slider .slide-MB {
      display: none !important;
      width: 100%; }

  .call-buton {
    display: block; }

  footer {
    padding: 15px 0; }
    footer .link-footer .footer-l {
      display: block; }
      footer .link-footer .footer-l .img-logo {
        width: 100%;
        padding: 0;
        margin-bottom: 15px; }
      footer .link-footer .footer-l .text-descript-footer {
        width: 100%;
        padding: 0;
        margin-bottom: 15px; }
    footer .link-footer .box-link-food {
      display: block; }
      footer .link-footer .box-link-food ul {
        width: 100%;
        text-align: center;
        margin-bottom: 15px; } }
@media only screen and (max-width: 767px) {
  .section-solution .product-solution {
    overflow-x: scroll;
    display: flow-root;
    margin-top: 0;
    padding-bottom: 30px; }

  .scroll-right {
    display: flex;
    justify-content: right;
    padding-right: 15px;
    margin-top: 20px; }
    .scroll-right img {
      height: 23px;
      margin-right: 3px; }

  .section-solution .product-solution .row {
    flex-wrap: nowrap;
    width: max-content;
    width: 1080px; }
    .section-solution .product-solution .row .col-md-3 {
      width: 270px; }

  .footer-l {
    margin-top: 20px; }

  .box-link-food a {
    margin-right: 0 !important; }

  .news-page .content-tabBlogs {
    padding-bottom: 10px; }

  .infor-science-box h6 a, .small-Blogs .infor-science-box h6 a {
    -webkit-line-clamp: 300; }

  .section-news .list-news-left-ad {
    display: flex;
    flex-direction: column-reverse; }
    .section-news .list-news-left-ad .img-news-left {
      margin-bottom: 20px; }

  /*--------------------------------------------Scroll custom css---------------------------------------------------*/
  /* width */
  ::-webkit-scrollbar {
    width: 0px;
    z-index: 999 !important; }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f3f3f3;
    z-index: 999 !important; }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #cacaca;
    border-radius: 4px;
    z-index: 999 !important; }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #7AC3F2; }

  ::-webkit-scrollbar:horizontal {
    height: 10px; }

  ::-webkit-scrollbar-thumb:horizontal {
    background: #E6E6E6;
    border-radius: 4px; }

  ::-webkit-scrollbar-thumb:horizontal:hover {
    background: #7AC3F2;
    border-radius: 4px; }

  /*--------------------------------------------Scroll custom css---------------------------------------------------*/
  .section-solution .col-md-3 .box-bill {
    padding: 0 15px;
    border-radius: 12px; }

  .list-function {
    display: none; }

  .menu nav ul li a {
    padding: 15px;
    position: relative;
    font-size: 16px !important;
    display: inline-block; }

  header .content-head .logo img {
    height: 60px;
    padding: 12px 0; }

  .about-huro .video-about-huro .about-left .title-hurobio h3 {
    color: #332B68; }

  .about-huro .btn-action {
    margin-top: 0; }

  .about-huro .video-about-huro .about-left p {
    color: #494848; }

  .about-left {
    background: white !important;
    padding: 0 !important;
    padding-bottom: 20px !important; }

  body h1 {
    font-size: 40px !important; }

  .section-hospital .logo-doi-tac ul li {
    float: left;
    width: 50%; }

  .section-hospital .store button {
    padding: 23px 10px;
    display: flex;
    width: 100%;
    justify-content: center; }

  .section-hospital .store button p {
    font-size: 14px; }

  .body-content-slider {
    padding: 0 15px; }

  .hotline-contact-fooer span {
    font-size: 18px;
    color: white;
    font-weight: 700; }

  .about-huro .video-cans {
    height: 190px;
    border-radius: 0 0 12px 12px !important; }

  h2 {
    font-size: 27px !important; }

  body {
    font-size: 14px; }

  h5 {
    font-size: 18px;
    font-weight: 600; }

  .section-chung-nhan .logo-chung-nhan span img {
    border-radius: 13px; }

  .news-page .news .left-news .list-news-left a h4 {
    -webkit-line-clamp: 1111111; }

  .news-page .news .left-news .list-news-left a p {
    display: -webkit-box;
    -webkit-line-clamp: 111111; }

  h3 {
    font-size: 22px;
    font-weight: 600; }

  .section-solution .col-md-3 .box-bill .name-bill-top h5 {
    margin: 20px 0;
    min-height: 0; }

  .content-slider h1, .content-slider span, .content-slider p, .content-slider h3 {
    text-align: left !important; }

  .about-huro .video-about-huro .about-left {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 8px;
    float: left;
    margin: 0;
    padding: 30px; }

  .about-huro .overlay._active iframe {
    height: 194px;
    border-radius: 12px !important; }

  .about-huro .video-about-huro {
    display: block; }
    .about-huro .video-about-huro .about-left {
      width: 100%; }

  .section-hospital .hospital-pic {
    position: initial; }

  .section-chung-nhan .logo-chung-nhan span {
    position: relative;
    padding-top: 0%;
    display: block;
    margin: 0 25px; }

  br {
    display: none; }

  .btn-common {
    display: inline-block;
    background: transparent;
    padding: 0 40px;
    text-align: center;
    transition: all .3s ease-in-out;
    border: 1.5px solid white;
    color: white;
    border-radius: 30px;
    height: 42px;
    line-height: 41px;
    font-weight: 600; }
    .btn-common span {
      margin-left: 5px; }
    .btn-common:hover {
      opacity: 0.8;
      color: white;
      background: #85B867;
      border-color: #85B867; }

  .btn-common-fill {
    display: inline-block;
    background: #332B68;
    padding: 0 30px;
    color: white;
    text-align: center;
    transition: all .3s ease-in-out;
    border: 1.5px solid #332B68;
    color: white;
    border-radius: 30px;
    height: 42px;
    line-height: 41px;
    font-weight: 600; }
    .btn-common-fill span {
      margin-left: 5px; }
    .btn-common-fill:hover {
      opacity: 0.8;
      color: white;
      background: #85B867;
      border-color: #85B867; }

  .section-hospital {
    background: #F5F7FB !important; }

  .hotline-contact-fooer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }

  footer .link-footer .footer-l .text-descript-footer p {
    text-align: center; }

  .hotline-item {
    width: 100%;
    justify-content: left;
    display: flex;
    border-bottom: 1px solid #3e3577;
    padding: 15px 0;
    margin-bottom: 20px;
    border-top: 1px solid #3e3577;
    margin-top: 20px;
    justify-content: center; }

  .mail-item {
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    padding-bottom: 15px;
    justify-content: center;
    border-bottom: 1px solid #3e3577; }

  .btn-common-noborder {
    display: inline-block;
    background: transparent;
    padding: 0 5px;
    text-align: center;
    transition: all .3s ease-in-out;
    border: 1.5px solid transparent;
    color: #332B68;
    border-radius: 30px;
    height: 42px;
    line-height: 41px;
    font-weight: 600; }
    .btn-common-noborder span.icon-arrow-right {
      margin-left: 5px; }
      .btn-common-noborder span.icon-arrow-right::before {
        color: #332B68; }
    .btn-common-noborder:hover {
      opacity: 0.8;
      color: #332B68;
      background: transparent;
      border-color: #332B68; }

  /* ========================= Section banner ===================== */
  .section-banner-top {
    margin-top: 60px; }
    .section-banner-top .item-slider .slider-PC {
      width: 100%;
      display: none; }
    .section-banner-top .item-slider .content-slider p {
      font-size: 18px; }
    .section-banner-top .item-slider .content-slider h1 {
      font-weight: 600;
      color: white;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      padding: 0;
      font-size: 44px;
      text-transform: uppercase; }
    .section-banner-top .item-slider .content-slider h3 {
      font-size: 24px; }
    .section-banner-top .item-slider .slide-MB {
      display: block !important;
      width: 100%; }

  body header .content-head nav ul li.submenu {
    position: relative; }
    body header .content-head nav ul li.submenu ul {
      position: relative !important;
      left: 0 !important;
      opacity: 1 !important;
      overflow: initial !important;
      top: 0 !important;
      visibility: inherit;
      box-shadow: none;
      background: #F5F7FB !important;
      border-radius: 0;
      display: none !important; }
      body header .content-head nav ul li.submenu ul.active {
        display: inline-block !important; }
      body header .content-head nav ul li.submenu ul li ul {
        display: inline-block !important; }

  .breadcrumbs {
    padding-top: 40px; } }
@media only screen and (max-width: 500px) {
  .section-chung-nhan .logo-chung-nhan span {
    height: 110px;
    margin: 0px 7px; }

  .news-page .news .left-news .list-news-left-ad {
    padding-right: 0; }

  .img-news-left {
    position: relative;
    width: 100%; } }
@media only screen and (max-width: 320px) {
  .section-chung-nhan .logo-chung-nhan span {
    height: 110px; } }

/*# sourceMappingURL=responsive.css.map */
