@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap');
$green-text:#85B867;
$text:#494848;
$text-alpha:#707070;
$gradient-color: linear-gradient(90deg, #2F7DF7 0%, #0AE5FF 100%);
$border: #E6E6E6;
$bg-gray: #F5F7FB;
$brand: #332B68;
$tim:#332B68;
$green:#85B867;
$green-text:#85B867;
/*
@import './css-import/list-page';*/

h1{
	font-size: 50px;
	font-weight: 700;
}
h2{
	font-size: 34px;
	font-weight: 700;
}
h3{
	font-size: 28px;
	font-weight: 600;
}
h4{
	font-size: 22px;
	font-weight: 600;
}
h5{
	font-size: 16px;
	font-weight: 600;
}
h6{
	font-size: 18px;
	font-weight: 600;
}
p{
	font-size: 14px;
}
strong, span, i, label{
	font-size: 14px;
}
.text-brand{
	color: $brand;
}
.page-product{
	display: inline-block;
	width: 100%;
}
body {
	font-family: 'Inter', sans-serif;
	color: $text;
	font-weight: 400;
	padding: 0;
	margin: 0;
	width: 100%;
	line-height: 1.6;
}
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	outline: none;
	text-decoration: none;
}

  a{
	  &:hover{
		  text-decoration: none;
	  }
  }
.container{
	max-width: 1200px;
	margin: auto;
}
.btn-action{
	display: inline-block;
	width: 100%;
	a{
		display: inline-flex;
		align-items: center;
		justify-content: center;
	}
	button{
		outline: none;
	}
}
.btn-common{
	display: inline-block;
    background: #332B68;
    padding: 0 30px;
    color: white;
    text-align: center;
    transition: all .3s ease-in-out;
    border: 1.5px solid #332B68;
    color: white;
    border-radius: 30px;
    height: 45px;
    line-height: 51px;
    font-weight: 600;
	span{
		margin-left: 5px;
	}
	&:hover{
		opacity: 0.8;
		color: white;
		background: $green-text;
		border-color: $green-text;
	}
}
body .section-banner-headpage{
	.content-slider{
		padding: 0 !important;
		width: 100% !important;
	}
	.breadcrumbs{
		position: absolute;
		z-index: 9;
	}
	h1{
		text-transform: none !important;
		max-width: 550px;
		-webkit-line-clamp: 1000 !important;
		b{
			color: $green;
		}
	}
}
.btn-common-fill{
	display: inline-block;
	background: $brand;
	padding: 0 50px;
    color: white;
	text-align: center;
	transition: all .3s ease-in-out;
	border: 1.5px solid $brand;
	color:  white; 
	border-radius: 30px;
	height: 55px;
	line-height: 51px;
	font-weight: 600;
	span{
		margin-left: 5px;
	}
	&:hover{
		opacity: 0.8;
		color: white;
		background: $green-text;
		border-color: $green-text;
	}
}
.btn-common-noborder{
	display: inline-block;
	background: transparent;
	padding: 0 50px;
	text-align: center;
	transition: all .3s ease-in-out;
	border: 1.5px solid transparent;
	color: $brand; 
	border-radius: 30px;
	height: 55px;
	line-height: 51px;
	font-weight: 600;
	span.icon-arrow-right{
			margin-left: 5px;
			&::before{
				color: $brand;
			}
		}
	&:hover{
		opacity: 0.8;
		color: $brand;
		background: transparent;
		border-color: $brand;
	}
}
section{
	padding: 55px 0;
	display: inline-block;
	width: 100%;
	overflow: hidden;
}

.title-section{
		display: inline-block;
		width: 100%;
		font-weight: 600;
		text-align: center;
		a{
			color: $text;
			align-items: flex-start;
			img{
				height: 40px;
				margin: 0 10px 10px 10px;
			}
		}
	

}
.title-page{
	display: inline-block;
	width: 100%;
	font-weight: 700;
	text-align: center;
}

a{
	text-decoration: none;
}
.flex-center{
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}
.mt-10 {
	margin-top: 10px;
}

.mt-20 {
	margin-top: 20px;
}

.mt-30 {
	margin-top: 30px;
}

.mt-40 {
	margin-top: 40px;
}

.mt-50 {
	margin-top: 50px;
}

.mt-60 {
	margin-top: 60px;
}

.mt-70 {
	margin-top: 70px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mb-50 {
	margin-bottom: 50px;
}

.mb-60 {
	margin-bottom: 60px;
}

.mb-70 {
	margin-bottom: 70px;
}

.m10 {
	margin: 10px;
}

.m15 {
	margin: 15px;
}

.m20 {
	margin: 20px;
}

.m25 {
	margin: 25px;
}

.m30 {
	margin: 30px;
}

.m35 {
	margin: 35px;
}

.m40 {
	margin: 40px;
}

.m45 {
	margin: 45px;
}

.m50 {
	margin: 50px;
}

.m55 {
	margin: 55px;
}

.m60 {
	margin: 60px;
}

.m65 {
	margin: 65px;
}

.m70 {
	margin: 70px;
}

.ml-0 {
	margin-left: 0;
}

.mr-0 {
	margin-right: 0;
}

.mt-0 {
	margin-top: 0;
}

.mb-0 {
	margin-bottom: 0;
}

.p10 {
	padding: 10px;
}

.p15 {
	padding: 15px;
}

.p20 {
	padding: 20px;
}

.p25 {
	padding: 25px;
}

.p30 {
	padding: 30px;
}

.p35 {
	padding: 35px;
}

.p40 {
	padding: 40px;
}

.p45 {
	padding: 45px;
}

.p50 {
	padding: 50px;
}

.p55 {
	padding: 55px;
}

.p60 {
	padding: 60px;
}

.p65 {
	padding: 65px;
}

.p70 {
	padding: 70px;
}

.pl-0 {
	padding-left: 0;
}

.pr-0 {
	padding-right: 0;
}

.pt-0 {
	padding-top: 0;
}

.pb-0 {
	padding-bottom: 0;
}
.pd-left{
    padding-left: 30px;
}
.pd-right{
    padding-right: 30px;
}
.center{
	text-align: center;
}
.left{
	text-align: left;
}
.right{
	text-align: right;
}
.language{
	display: none;
}
.avatar-thumb{
	display: inline-block;
    width: 100%;
	a{
		position: relative;
		padding-top: 143%;
		display: block;
		img{
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			left: 0;
			top: 0;
		}
	}
	
}
.content-header-infor.page-Detail-Blogs{
	padding-top: 55px !important;
}
.body-content-slider .btn-action{
	a{
		border: 1px solid white;
		background: none;
	}
}
.section-tab .about-nha-nghien-cuu ul{
	padding-left: 15px;
}
header{
	display: inline-block;
	width: 100%;
	position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    left: 0;
	padding: 0 10px;
	background-image: linear-gradient(to bottom, rgba(51,43,104,100), rgba(51,43,104,0));
	.width-menu{
		width: 99%;
		margin: auto;
	}
}
.product-solution{
	display: flex;
	margin: 20px 0;
	justify-content: right;
	padding-right: 15px;
	img{
		margin-right: 5px;
	}
}

.copyright-footer{
	font-size: 13px;
	padding-top: 15px;
	border-top: 1px solid #4b4289;
	color: white;
	display: inline-block;
	margin-top: 20px;
	width: 100%;
	text-align: center;
	a{
		color: white;
		font-size: 13px;
		margin: 0;
		padding: 0;
		opacity: 1;
	}
}
.descriptio-Blogs-Detail{
	.avatar-Blogs-Detail{
		img{
			border-radius: 12px;
		}
	}
}
.editor-tab{
	div{
		width:initial !important;
		height: initial !important;
	}
	img{
		height: initial !important;
		width: 100%;
	}
}
.content-head{
	display: flex;
	justify-content: space-between;
	.logo{
		display: flex;
		align-items: center;
		img{
			padding: 10px 0;
			max-height:70px;
		}
	}
	nav{
		display: flex;
		align-content: center;
		-ms-flex-pack: center !important;
		-ms-flex-align: center !important;
		align-items: center !important;
		transition: all .3s ease-in-out;
		padding: 0;
		ul{
			display: flex;
			align-content: center;
			-ms-flex-pack: center !important;
			-ms-flex-align: center !important;
			align-items: center !important;
			transition: all .3s ease-in-out;
			margin-bottom: 0;
			position: relative;
			li{
				list-style: none;
				a{
					color: white;
					font-weight: 400;
					text-decoration: none;
					padding: 7px 15px;
					.ti-angle-down{
						&::before{
							font-size: 8px;
						}
					}
					&:hover{
						color: $green-text;
					}
				}
				
			}
		}
	}
}

.search-input{
	span{
		&.ti-search{
			font-size: 18px;
		}
	}
	input{
		font-size: 18px;
	}
}
.search{
	position: absolute;
    top: 70px;
    background: #fff;
    padding: 5px;
    display: flex;
    justify-content: space-between;
	width: 100%;
	left: 0;
	right: 0;
	display: none;
	height: 70px;
	align-items: center;
	.search-input{
		width: 100%;
		max-width: 500px;
		margin: auto;
		display: flex;
		align-items: center;
		span{
			.ti-search{
				&::before{
					color: $text-alpha;
				}
			}
		}
		input{
			border-color: #fff;
			font-size: 14px;
			width: 98%;
			outline: none;
			&:focus{
				outline: none;
				box-shadow: none;
			}
		}
	}
	
	button{
		span{
			font-weight: 700;
			&::before{
				color: $text-alpha;
			}
		}
		background-color: #fff;
		outline: none;
		border: none;
		margin-right: 20px;
		font-weight: 700;
	}
	
}
.editor-Blogs-Detail-Page img {
    margin: 20px 0;
    height: initial;
}
/*--------------------------------------------Scroll custom css---------------------------------------------------*/
/* width */
::-webkit-scrollbar {
    width: 8px;
    z-index: 999 !important;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f3f3f3;
    z-index: 999 !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #cacaca;
    border-radius: 16px;
    z-index: 999 !important;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #7AC3F2;
    }
    ::-webkit-scrollbar:horizontal{
  height: 8px;
}
::-webkit-scrollbar-thumb:horizontal{
        background: #cacaca;
        border-radius: 16px;
        
    }
::-webkit-scrollbar-thumb:horizontal:hover{
        background: #7AC3F2;
        border-radius: 16px;
        
    }
/*--------------------------------------------Scroll custom css---------------------------------------------------*/
/*-------------------------menu---------------------------*/

.content-head .menu nav>ul>li.submenu>ul {
	justify-content: center;
	margin-bottom: 0;
    display: inherit ;
}

.menu nav ul>li>a {
	
	&::before {
		content: "";
		display: inline-block;
		font-family: 'themify';
		font-size: 9px;
		font-weight: 100;
		position: absolute;
		right: 0;
		top: 5px;
        
	}
    &::before:last-child(1){
        display: none;
    }
}
.menu {
	position: relative;
	z-index: 1;
    display: flex;
    align-items: center;

	nav {
		ul {
			padding: 0;

			li {
				list-style: none;
				position: relative;
				padding: 5px 0;
				button{
					background: none;
					border: none;
					outline: none;
				}
				i {
					display: none;
				}

				a {
					padding: 0 20px;
					position: relative;
					font-size: 16px;
				}
				a.call-phone {
					display: flex;
					align-items: center;
					color: #85C86F;
					span{						
						font-size: 24px;
						padding-left: 5px;
						font-weight: 600;
						
					}
					.icon-call{
						&::before{
							font-size: 16px;
						}
					}
				}

				ul {
					position: absolute;
					top: 53px;
					width: 310px;
					left: 0;
					opacity: 0;
					visibility: hidden;
					background: white;
					box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
					border-radius: 4px;
					padding: 8px 20px;




					li {
						padding: 5px;
						transition: all 0.3s linear;
						a {
							display: inline-block;
							width: 100%;
							font-weight: normal;
							padding: 8px 0;
							transition: 0.5s;
							color: $text;
							&::before {
								display: none;
							}

							&:hover {
								color: $green-text;
								background: $bg-gray;
								padding-left: 20px;
								padding-right: 14px;
								border-radius: 8px;
							}
						}
						ul{
							position: relative !important;
							display: inline-block!important;
							width: 100%!important;
							top: 0 !IMPORTANT;
							opacity: 1 !important;
							visibility: initial!important;
							box-shadow: none!important;
							padding: 0px 15px!important;
							li{
								a{

								}
							}
						}
					}
				}

				&:hover {
					ul {
						opacity: 1;
						visibility: initial;
					}
				}

				&.active {
					a {
						color: $green-text;
					}

					ul {
						li {
							a {
								color: $text;
								
								&:hover, &.active {
									color: $green-text  !important;
								}
								
							}
							
						}
					}
				}
				
			}
			
		}
	}
}
.call-phone{
	span{
		font-size: 18px;
	color: $green;
	}
}
.content-head .menu nav > ul > li.submenu > ul{
	list-style-type: none !important;
	left: 68px;
	z-index: 1;
}
/* -------Sticky menu srcoll----- */
.menu-scroll {
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
	position: fixed; 
	left: 0;
	top: 0;
	z-index: 9999;
	background: #332B68;

	nav {
		padding: 0 !important;
		ul{ 
			li{ 
				a{
					font-size: 16px;
				}
				a.call-phone {
					display: flex;
					align-items: center;
					color: #85C86F;
					span{						
						font-size: 16px;
						padding-left: 5px;
						font-weight: 600;
						
					}
					.icon-call{
						&::before{
							font-size: 15px;
						}
					}
				}
			}
	}
		
	}
	.logo{
		a{
			img{
				transition-delay: 1s;
				height: 70px;
				padding: 10px 0px;
			}
		}
	}

	
}

.section-banner-top .owl-theme .owl-nav {
    margin-top: 0;
}
.section-banner-top .owl-dots{
	position: absolute;
    width: 100%;
    bottom: 50px;
}
.no-sub a {

	&::after,
	&::before {
		display: none !important;
	}
}
.section-why-join-page{
    border: none !important;
}
.menu nav ul > li > a:nth-last-child(1)::before{
    display: none;
}

.title-section{
	display: inline-block;
	width: 100%;
	font-weight: 600;
	text-align: center;
	a{
		color: $text;
		align-items: flex-start;
		img{
			height: 40px;
			margin: 0 10px 10px 10px;
		}
	}


}
.content-site{
	h3{
		padding-top: 0;
		padding-bottom: 15px;
		font-weight: 600;
	}
}
.hinh-anh-Social{
	width: 100%;
	img{
		width: 100%;
	}
}
/*==============================phone ===============================*/
.call-buton .cc-calto-action-ripple {
	z-index: 99999;
	position: fixed;
	left: 2rem;
	bottom: 3rem;
	background: $green-text;
	width: 4rem;
	height: 4rem;
	padding: 1rem;
	border-radius: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #ffffff;
	-webkit-animation: cc-calto-action-ripple 0.6s linear infinite;
	animation: cc-calto-action-ripple 0.6s linear infinite;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-items: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	text-decoration: none; }
	.call-buton .cc-calto-action-ripple i {
	  -webkit-transition: 0.3s ease;
	  transition: 0.3s ease;
	  font-size: 2.2rem; }
	.call-buton .cc-calto-action-ripple:hover i {
	  -webkit-transform: rotate(135deg);
	  transform: rotate(135deg); }
  
  @-webkit-keyframes cc-calto-action-ripple {
	0% {
	  -webkit-box-shadow: 0 4px 10px rgba(36, 143, 45, 0.432), 0 0 0 0 rgba(36, 143, 45, 0.2), 0 0 0 5px rgba(36, 143, 45, 0.2), 0 0 0 10px rgba(36, 143, 45, 0.2);
	  box-shadow: 0 4px 10px rgba(36, 143, 45, 0.2), 0 0 0 0 rgba(36, 143, 45, 0.2), 0 0 0 5px rgba(36, 143, 45, 0.2), 0 0 0 10px rgba(36, 143, 45, 0.2); }
	100% {
	  -webkit-box-shadow: 0 4px 10px rgba(36, 143, 45, 0.2), 0 0 0 5px rgba(36, 143, 45, 0.2), 0 0 0 10px rgba(36, 143, 45, 0.2), 0 0 0 20px rgba(236, 139, 0, 0);
	  box-shadow: 0 4px 10px rgba(36, 143, 45, 0.2), 0 0 0 5px rgba(36, 143, 45, 0.2), 0 0 0 10px rgba(36, 143, 45, 0.2), 0 0 0 20px rgba(236, 139, 0, 0); } }
  
  @keyframes cc-calto-action-ripple {
	0% {
	  -webkit-box-shadow: 0 4px 10px rgba(36, 143, 45, 0.2), 0 0 0 0 rgba(36, 143, 45, 0.2), 0 0 0 5px rgba(36, 143, 45, 0.2), 0 0 0 10px rgba(36, 143, 45, 0.2);
	  box-shadow: 0 4px 10px rgba(36, 143, 45, 0.2), 0 0 0 0 rgba(36, 143, 45, 0.2), 0 0 0 5px rgba(36, 143, 45, 0.2), 0 0 0 10px rgba(36, 143, 45, 0.2); }
	100% {
	  -webkit-box-shadow: 0 4px 10px rgba(36, 143, 45, 0.2), 0 0 0 5px rgba(36, 143, 45, 0.2), 0 0 0 10px rgba(36, 143, 45, 0.2), 0 0 0 20px rgba(236, 139, 0, 0);
	  box-shadow: 0 4px 10px rgba(36, 143, 45, 0.2), 0 0 0 5px rgba(36, 143, 45, 0.2), 0 0 0 10px rgba(36, 143, 45, 0.2), 0 0 0 20px rgba(236, 139, 0, 0); } }

	span.num{
		position: absolute;
		color: #85B867;
		right: -30%;
		bottom: -50%;
		left: -20%;
	}

/* ========================= Section banner ===================== */
.wp-caption-text{
	display: inline-block;
    width: 100%;
    text-align: center;
    font-style: italic;
    margin-bottom: 20px;
}
.section-banner-top{
	background: transparent;
	padding-bottom: 0;
	.item-slider{
		position: relative;
		display: flex;
		align-items: center;
		.slider-PC{
			width: 100%;
			display: block;
		}
		.body-content-slider {
			position: absolute;
			width: 100%;
			left: 0;
			height: 100%;
			display: flex;
			align-items: center;
		}
		.content-slider{
			width: 90%;
    		margin: auto;
			h1{
				font-weight: 600;
				color: white;
				display: -webkit-box;
				-webkit-line-clamp: 1;
				-webkit-box-orient: vertical;
				overflow: hidden;
				padding: 10px 0;
				font-size: 50px;
				text-transform: uppercase;
			}
			p{
				display: -webkit-box;
				-webkit-line-clamp: 1;
				-webkit-box-orient: vertical;
				overflow: hidden;
				font-size: 24px;
				color: white;
			}
			h3{
				font-size: 24px;
				color: $green-text;
				margin-bottom: 15px;
				font-weight: 700;
			}
		}
		.slide-MB {
			display: none !important;
		}
	}
}
/* ========================= Section About Huro =========================  */
.about-huro{
	padding-top: 10px !important;
	.btn-action{
		a{
		background: $green;
		}
	}
	.video-cans {
		border-radius: 0 12px 12px 0 !important;
		height: 432px;
	}
	.overlay._active iframe{
		height: 432px;
	}
	.video-about-huro{
		display: flex;
		.about-left{
			width: 49%;
			padding: 70px 40px;
			border-bottom-left-radius: 8px;
			border-top-left-radius: 8px;
			.title-hurobio{
				display: flex;
				align-items: center;
				padding-bottom: 20px;
				h3{
					padding: 0;
					margin: 0;
					color: white;
					padding-right: 10px;
				}
			}
			p{
				font-weight: 400;
				color: white;
				font-size: 16px;
				display: -webkit-box;
				-webkit-line-clamp: 9;
				-webkit-box-orient: vertical;
				overflow: hidden;
				span{
					color: $green-text;
					font-size: 16px;
					font-weight: bold;
				}
			}
		}
		.video-cans{
			.play-video-huro{
				display: flex;
				align-items: center;
				height: 100%;
				justify-content: center;
				a{
					display: flex;
					justify-content: center;
					align-items: center;
					height: 100%;
					span{
						background-color: #85B867;
						border-radius: 50%;
						height: 100px;
						width: 100px;
						display: flex;
						justify-content: center;
						align-items: center;
						&::before{
							font-size: 32px;
						}
					}
				}
			}
		}
	}	
}
.hotline-contact-fooer{
	display: flex;
	align-items: center;
	a{
		margin: 0 10px 0 0;
	}
	span{
		font-size: 14px;
		color: white;
		font-weight: 700;
	}
}
.expand-rating.expand-none{
	display: inline-block !important;
}
/*================== Section Solution ====================*/
.section-solution{
	display: inline-block;
	width: 100%;
	.title-page{
		h4{
			text-transform: uppercase;
			color: $green-text;
			font-weight: 400;
		}
	}
	.col-md-3{
		padding: 0;
    margin-top: 30px;
		.box-bill{
			padding: 30px;
			border-radius: 12px;
			&:hover{
				box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
				background: white;
			}
			
			.name-bill-top{
				text-align: center;
				.item-product{
					position: relative;
					padding-top: 0%;
					display: block;
					height: 278px;
					img{
						max-width: 100%;
						max-height: 100%;
					}
				}
				h5{
					margin: 40px 0;
					min-height: 52px;
					a{
						color: $text;
					}
				}
			}
			.list-function{
				.icon-item{
					width: 100%;
					position: relative;
					display: inline-grid;
					align-items: center;
					align-content: center;
					margin-bottom: 15px;
					&:nth-last-child(1){
						margin-bottom: 0;
					}
					i{
						width: 20px;
						height: 20px;
						text-align: center;
						border-radius: 50%;
						background: #75BBB8;
						line-height: 18px;
						position: absolute;
						top: 5px;
						&::before{
							color: white;
							font-size: 10px;
						}
					}
					span{
						font-family: inter, sans-serif;
						padding-left: 32px;
						float: left;
						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
						overflow: hidden;
						color: $text-alpha;
						line-height: 26px;
					}
				}
			}
		}
	}
	
}
body.show-search{
	.search.collapse{
		display: flex !important;
		opacity: 1 !important;
		visibility: initial !important;
	}
	header{
		background: $brand !important;
	}
}

/* ========================= Section section-tab =========================  */
.section-tab{
	.nav.nav-tabs{
		border-bottom: none;
		max-width: 1200px;
		.nav-item.nav-link{
			width: 16.666%;
			text-align: center;
			border-right: 1px solid #0000000d;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			border-top: 1px solid #0000000d;
			border-bottom: 1px solid #0000000d;
			position: relative;
			&:nth-child(1){
				border-left: 1px solid #0000000d;
				border-top-left-radius: 8px;
				border-bottom-left-radius: 8px;
			}
			&:nth-last-child(1){
				border-left: 1px solid #0000000d;
				border-top-right-radius: 8px;
				border-bottom-right-radius: 8px;
			}
			span{
				height: 70px;
				margin-top: 15px;
				display: flex;
				justify-content: center;
				margin-bottom: 20px;
				img{
					max-height: 70px;
				}
			}
			p{
				font-weight: 600;
				color: $text;
			}
			i{
				display: none;
			}
			&.active{
				p{
					color: white;
				}
				i{
					display: block;
					position: absolute;
					bottom: -15px;
					left: 0;
					right: 0;
					&::before{
						color: $brand;
						font-size: 36px;
					}
				}
			}
		}
	}
	.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
		border-left: 0;
		background: $brand;
		color: white;
		p{
			color: white;
		}
	}
	.tab-content{
		.about-nha-nghien-cuu{
			padding-top: 70px;
			border-bottom: 1px solid $border;
			margin-bottom: 15px;
			h3{
				color: $brand;
				padding-bottom: 30px;
			}
		}
		.info-nha-nghiencuu{
			h5{
				color: $brand;
			}
			span{
				color: $text-alpha;
			}
		}
	}
	.pic-about-nha-nc{
		width: 100%;
		padding-top: 70px;
		img{
			max-width: 100%;
		}
	}
}
.scroll-mobile{
	background: white;
	margin-top: 20px;
}
/*========================== Section Chứng nhận ===================== */ 
.section-chung-nhan{
	.logo-chung-nhan{
		display: flex;
		align-items: center;
		justify-content: center;
		span{
			position: relative;
			padding-top: 0%;
			display: block;
			width: 181px;
			height: 181px;
			margin: 0 25px;
			img{
				width: 100%;
				border-radius: 4px;
			}
		}
	}
	.chung-nhan{
		.icon-item{
			display: flex;
			padding-bottom: 30px;
			i{
				width: 24px;
				height: 24px;
				background-color: #75BBB8;
				border-radius: 50%;
				position: absolute;
				text-align: center;
				line-height: 20px;
				margin-top: 2px;
				&::before{
					color: white;
					font-size: 10px;
				}
			}
			span{
				padding-left: 34px;
				font-family: 'Inter', sans-serif;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
				line-height: 28px;
				font-size: 18px;
				b{
					font-size: 16px;
					color: $brand;
				}
			}
		}
	}
}
/*========================== Section news ===========================*/
	.img-news-left{
		position: absolute;
		right: 0;
		width: 250px;
		top: 0;
	}
	.news-page{
	.news{
		.left-news{
			.list-news-left-ad{
				position: relative;
				padding-right: 290px;
				margin-bottom: 20px;
				min-height: 190px;
			}
			.list-news-left{
				position: relative;
				
				
				a{
					color: $text;
					text-decoration: none;
					h4{
						font-size: 16px;
						font-weight: 700;
						color: $text;
						padding: 0;
						margin: 0;
						padding-bottom: 10px;
						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
						overflow: hidden;
						&:hover{
							color: $green-text;
						}
					}
					.date-cate{
						width: 100%;
						float: left;
						margin: 0;
						color: $text-alpha;
						padding-bottom: 5px;
						span{
							color: $text-alpha;
							padding: 0;
						}
						b{
							color: $text-alpha;
						}
					}
					p{
						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
						overflow: hidden;
						width: 100%;
						font-style: italic;
						color: $text-alpha;
					}
				}
			}
			.img-news-left{
				a{position: relative;
					padding-top: 65%;
					display: block;
					img{
						position: absolute;
						width: 100%;
						height: 100%;
						object-fit: cover;
						object-position: center;
						left: 0;
						top: 0;
						border-radius: 8px;
					}
				}
			}
		}
		.right-news{
			padding-left: 50px;
			.items-news-right{
				display: flex;
				margin-bottom: 20px;
				.number-news-right{
					font-size: 30px;
					font-weight: 600;
					color: #75BBB8;
					padding: 0 30px 0 0;
					margin: 0;
				}
				.text-news-right{
					a{
						color: $text;
						text-decoration: none;
						h4{
							font-size: 18px;
							font-weight: 700;
							margin-bottom: 5px;
							display: -webkit-box;
							-webkit-line-clamp: 2;
							-webkit-box-orient: vertical;
							overflow: hidden;
						}
					}
					.date-cate{
						width: 100%;
						float: left;
						margin: 0;
						color: $text-alpha;
						span{
							color: $text-alpha;
							padding: 0;
						}
						b{
							color: $text-alpha;
						}
					}
				}
			}
		}
	}
	}
/* ========================= Section think-customer =========================  */
.think-customer{
	display: inline-block;
	width: 100%;
	padding-bottom: 0 !important;
	background: white;
	.cam-nhan-khach-hang{
		padding-bottom: 0;
		margin-bottom: 0;
		.title-page{
		}	
		.title-section{
			margin: 0;
		}
		.icon-img{
			text-align: center;
			width: 40px;
			height: 40px;
			margin: auto;
		}
		.noi-dung-cam-nhan{
			padding: 20px 0;
			min-height: 195px;
		}
		.content-cam-nhan{
			margin: auto;
			text-align: center;
			.item{
				padding: 0 20px;
				.box-cam-nhan{
					border-radius: 8px;
					width: 100%;
					margin: 20px auto;
					padding: 20px;
					min-height: 230px;
					margin-bottom: 0;
					box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.07);
					.owl-theme .owl-dots .owl-dot span {
						width: 6px !important;
						height: 6px !important;
						margin: 5px 7px;
						background: #D6D6D6;
						display: block;
						-webkit-backface-visibility: visible;
						transition: opacity .2s ease;
						border-radius: 30px;
					}
					}
			}
		}
		.info-khach{
			width: 100%;
			.info-khach-hang{
				display: flex;
				justify-content: center;
				.avatar-kh{
					width: 60px;
					height: 60px;
					padding: 0 10px 0 0;
					margin-right: 15px;
					img{
						border-radius: 50%;
						width: 60px;
						height: 60px;
						object-fit: cover;
						overflow: hidden;
					}
					h4{
						font-weight: 600;
					}
					p{
						font-weight: 400;
					}
	
				}
				.name-tile-kh{
					text-align: left;
					h5{
						font-weight: 600;
						text-align: left;
						padding-bottom: 0;
						margin-bottom: 5px;
						color: $brand;
					}
					p{
						font-weight: 400;
						text-align: left;
						color: #313131;
					}
				}
			}
		}
		.bg-cam-nhan{
			width: 100%;
			text-align: center;
		}
	}
}
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0,0,0);
    padding-bottom: 20px;
}
.owl-next{
	background: none !important;
	outline: none !important;
	span{
		width: 50px;
		font-size: 0px;
		color: white;
		height: 50px;
		background: url(../images/next-slide.svg) no-repeat center top;
		display: inline-block;
		position: absolute;
		top: 40%;
		background-size: cover;
		right: 10px;
	}
	&:hover{
		opacity: .7;
	}
}
.owl-prev{
	background: none !important;
	outline: none !important;
	span{
		width: 50px;
		font-size: 0px;
		position: absolute;
		top: 40%;
		left: 10px;
		color: white;
		height: 50px;
		background: url(../images/prev-slide.svg) no-repeat center top;
		display: inline-block;
		background-size: cover;
	}
	&:hover{
		opacity: .7;
	}
}
.owl-dots{
	opacity: .4;
	span{
		width: 14px !important;
		height: 14px !important;
		border: 1px solid #ababab !important;
		outline: none;
	}
}
.owl-theme .owl-dots .owl-dot{
	outline: none;
}
/* ========================= Section kênh bán hàng =========================  */
.section-hospital{
	background: $bg-gray;
	.store{
		button{
			display: flex;
			padding: 23px 40px;
			align-items: center;
			border: 1px solid $brand;
			border-radius: 12px;
			background: white;
			&:hover{
				opacity: 0.5;
			}
			span{
				path{
					fill: $brand;
				}
			}
			p{
				padding: 0;
				margin: 0;
				padding-left: 10px;
				text-transform: uppercase;
				font-weight: 600;
				color: $brand;
			}
		}
	}
	.logo-doi-tac{
		padding-top: 50px;
		ul{
			li{
				list-style: none;
				margin-bottom: 20px;
				a{
					box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
					border-radius: 12px;
					overflow: hidden;
					display: flex;
					justify-content: center;
					align-items: center;
					background: white;
					padding: 10px 0;
					position: relative;
					img{
						height: 50px;
						border-radius: 12px;
						&:hover{
							opacity: 0.8;
						}
					}
				}
			}
		}
	}
	.hospital-pic {
		max-width: 95%;
		position: absolute;
		bottom: -55px;
	}
}
/*=======================video=======================*/




.video-cans {
    display: inline-block;
    width: 100%;
    position: relative;
    background-size: cover !important;
    height: 432px;
    img {
      width: 100%;
    }
  }

.close-bg-video {
    position: absolute;
    right: -50px;
    top: -10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    font-weight: normal;
    border: 0;
    font-size: 16px;
    outline: none;
    z-index: 9999999;
    background-color: white;
  }
  .current_page_item {
    a {
      color: $brand;
    }
  }
  
  .overlay {
    width: 100%;
    margin: 0 auto;
    height: 432px;
    display: none;
  
    &._active {
      display: block;
      iframe {
        width: 100%;
        height: 432px;
      }
    }
  }
/* ========================= Section footer =========================  */
.line-footer{
	float: left;
	width: 100%;
	display: flex;
	.color-yellow{
		height: 10px;
		background-color: #FFD53E;
		width: 33.33333%;
	}
	.color-green{
		height: 10px;
		background-color:$green-text;
		width: 33.33333%;
	}
	.color-green2{
		height: 10px;
		background-color: #75BBB8;
		width: 33.33333%;
	}
}

footer{
	padding: 40px;
	display: inline-block;
	width: 100%;
	background-color: #332B68;
	text-align: center;
	a, span, p{
		opacity: .7;
	}
	a{
		&:hover{
			opacity: 1 !important;
		}
	}
	.hotline-contact-fooer{
		a{
			opacity: 1 !important;
		}
	}
	.hotline-item, .mail-item{
		a, span{
			opacity: 1 !important;
		}
	}
	a{
		color: $text;
		margin: 0 20px;
	}
	.socical{
		a{
			margin: 0 5px;
		}
	}
	.link-footer{
		width: 100%;
		margin: 0;
		padding: 0;
		clear: both;
		
		.box-link-food{
			display: flex;
			ul{
				width: 50%;
				text-align: left;
				margin-bottom: 0;
				h6{
					margin-bottom: 10px;
					font-weight: 600;
					color: white;
					text-transform: uppercase;
				}
				li{
					list-style: none;
					padding-bottom: 5px;
					a{
						color: $text-alpha;
						text-decoration: none;
						transition: 0.5s;
						padding-left: 0;
						margin-left: 0;
						color: white;
						font-size: 13px;
						&:hover{
							color: $green-text;
							text-decoration: underline;	
						}
					}
					
				}
			}
		}
		.footer-l{
			position: relative;
			padding-left: 213px;
			.img-logo{
				position: absolute;
				left: 0;
				top: 0;
				width: 170px;
				img{
					width: 100%;
				}
			}
			.text-descript-footer{
				width: 100%;
				p{
					color: white;
					text-align: left;
					font-size: 14px;
				}
				.icon-footer{
					display: flex;
					.icon-social{
						display: flex;
						ul{
							padding-right: 30px;
							display: flex;
							align-items: center;
							li{
								list-style-type: none;
								text-align: center;
								line-height: 28px;
								display: inline-flex;
								a{
									border-radius: 100%;
									background-color: #332B68;
									height: 32px;
									width: 32px;
									padding: 0;
									margin: 0 5px;
									&:hover{
										opacity: 0.8;
									}
								}
							}
						}
					}
					.hotline{						
						text-align: left;
						display: flex;
						align-items: center;
						.ti-headphone{
							padding-right: 10px;
							&::before{
								font-size: 40px;
								color: white;
							}
						}
						.number-hotline{
							i{
								color: #fff;
								font-style: normal;
								font-family: 'Inter', sans-serif;
								padding: 0;
								margin: 0;
							}
							h4{
								a{
									color: white;
									font-family: 'Inter', sans-serif;
									padding: 0;
									margin: 0;
								}
							}
						}
					}
				}
			}
		}
	}
	.bottom-footer{
		border-top: 1px solid $border;
		padding-top: 20px;
		.infor-footer{
			text-align: center;
			a{
				font-size: 12px;
				margin: 0 5px;
				color: $text-alpha;
				text-decoration: underline;
			}
		}
		.socical{
			a{
				i{
					width: 30px;
					height: 30px;
					background: #E4E4E4;
					border-radius: 50%;
					padding: 8px;
					color: #636F75;
					&:hover{
						background: $green-text;
						color: white;
					}
				}
			}
		}
		
	}
	.copyright{
			text-align: center;
			p{
			color: $text-alpha;
			font-size: 12px;
			padding-top: 20px;
			}
		}
}






.p30{
    padding: 0 30px;
}
.contact-bg{
    img{
        width: 100%;
    }
}
.title-box-contact-page{
    p{
        display: inline-block;
        width: 100%;
        line-height: 27px;
        color: $text;
        margin-top: 10px;
        font-size: 16px;
    }
}
.box-contact-page{
    background: #FFFFFF;
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
border-radius: 12px;
display: inline-block;
padding: 60px 50px;
width: 100%;
.form-dangky{
    background: none;
    box-shadow: none;
    padding: 0 ;
    margin-top: 20px;
    .form-group{
        margin-bottom: 20px;
    }
}

b{
    font-size: 24px;
    text-transform: uppercase;
    color: $brand;
    margin-left: 10px;
}
}
.lager-box-Blogs{
    .infor-science-box{
        h6{
            a{
                text-decoration: none;
                font-size: 32px;
line-height: 48px;
            }
        }
    }
}

.seach-box-page{
    border: 2px solid #332B68;
box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.16);
border-radius: 8px;
height: 55px;
display: inline-block;
width: 100%;
background: white;
position: relative;
padding-left: 50px;
margin-top: 30px;
img{
    position: absolute;
    left: 10px;
    top: 14px;
    width: 24px;
}
input{
    display: inline-block;
    width: 100%;
    height: 50px;
    background: none !important;
    padding: 10px 20px 10px 0;
    border: 0;
    outline: none;
}
}
.page-chuyen-gia{
    background: $bg-gray;
    float: left;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    
}
.body-chuyengia{
    background: white;
    position: relative;
    &::before{
        content: '';
        display: inline-block;
        width: 100000px;
        height: 10000000px;
        background: white;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
    }
}
.body-sanpham{
    background: transparent;
    position: relative;
    &::before{
        content: '';
        display: inline-block;
        width: 100000px;
        height: 10000000px;
        background: transparent;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
    }
}
.news-page{
    padding-top: 0;
    .tab-categorypageBlogs{
        display: inline-block;
        width: 100%;
        padding:15px 0 0 0;
        background: white;
        border-bottom: 1px solid $border;
    }
    .content-tabBlogs{
        overflow-x: auto;
        padding: 0 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
        ul{
            width: max-content;
            padding: 0;
            margin-bottom: 0;
            display: flex;
            li{
                position: relative;
                width: max-content;
                list-style: none;
                a{
                    padding: 10px 15px;
                    text-transform: uppercase;
                    color: $text;
                    display: inline-block;
                    &::after{
                        width: 100%;
                        content: '';
                        display: inline-block;
                        height: 2px;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                    }
                }
                &.active{
                    a{
                        color: $brand;
                        font-weight: 700;
                        &::after{
                            background: $brand;
                        }
                    }
                }
            }
        }
    }
}
body {
	font-family: 'Inter', sans-serif;
	color: $text;
	font-weight: 400;
	padding: 0;
	margin: 0;
    font-size: 16px;
	width: 100%;
	line-height: 1.6;
}
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	outline: none;
	text-decoration: none;
}
.header-page-Detail{
    position: relative;
    display: inline-block;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    float: left;
}

.information-section-left-right{
    &.bg-gray{
        .row{
            flex-direction: row-reverse;
            .infor-columns-text-LeftRight{
                padding-left: 80px;
                padding-right: 0 !important;
            }
        }
    }
    .thumbnail-about-avatar{
        position: relative;
    padding-top: 80%;
    overflow: hidden;
    border-radius: 12px;
    display: block;
    img{
        position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0;
    }
    }
    .row{
        align-items: center;
        display: flex;
    }
    .infor-columns-text-LeftRight{
        h3{
            margin-bottom: 20px;
        }
        padding-right: 80px;
    }

}
.list-secondBlogs{
    padding-bottom: 0;
}

@media only screen and (max-width: 800px) {
    .contact-bg{
        margin-top: 30px;
        img{
            width: 100%;
            padding: 0;
        }
    }
    .information-section-left-right.bg-gray .row .infor-columns-text-LeftRight {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .information-section-left-right .infor-columns-text-LeftRight{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .information-section-left-right .row{
        display: inline-block;
    }
    .infor-columns-text-LeftRight{
        margin-bottom: 20px;
    }
    
}








.bg-header{
    
    img{
        width: 100%;
        display: inline-block;
        &.bg-header-PC{
            width: 100%;
            display: inline-block;
        }
        &.bg-header-MB{
            width: 100%;
            display: none;
        }
    }
}
.show-result-rating{
	ul{
		padding: 0;
		margin: 0;
		li{
			position: relative;
			padding-left: 50px;
			list-style: none;
			padding-right: 50px;
			span{
				&:nth-child(1){
					position: absolute;
					left: 0;
					font-size: 14px;
					color: $text-alpha;
					top: 0;
				}
			}
			b{
				position: absolute;
				right: 0;
				top: 0;
				font-weight: normal;
				font-size: 14px;
				color: $text-alpha;
			}
			label{
				height: 20px;
				border: 1px solid $border;
				border-radius: 800px;
				position: relative;
				width: 100%;
				overflow: hidden;
				display: inline-block;
				i{
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					background: $green;
					height:20px;
					
				}
			}
		}
	}
}
.repcomment{
    textarea{
        width: 100%;
        display: inline-block;
        height: 80px;
        border: 1px solid $border;
        background: white;
        border-radius: 8px;
        padding: 10px 15px;
        margin-bottom: 15px;
    }
    input{
        width: 100%;
        display: inline-block;
        padding: 5px 15px;
        height: 40px;
        border: 1px solid $border;
        background: white;
        margin-bottom: 15px;
        border-radius: 8px;
    }
    .expand-rating{
        width: initial;
        height: 40px;
        background: $brand;
        color: white;
        text-align: center;
        display: flex;
        border-radius: 8px;
        align-items: center;
        button{
            background: none !important;
            outline: none;
            border: 0 !important;
            width: 100%;
            
            border: 0;
            span{
                float: none;
                color: white !important;
            }
        }
    }
}
.expand-none{
    display: none !important;
}



/* --------------------------- Section form đăng ký ---------------------------*/
.section-form-dangky {
    display: inline-block;
    width: 100%;
	
}
.box-question{
    margin-top: 30px !important;
}
.sticky-box {
    position: -webkit-sticky;
    position: sticky;
    align-self: flex-start;
    top: 30px;
}
.form-dangky {
    background: #fff;
    box-shadow: 0px 0px 32px rgba(129, 129, 129, 0.14);
    border-radius: 8px;
    padding: 30px;
    margin: 0px 0;
    .tiltle-form {
        font-size: 26px;
        text-transform: uppercase;
        font-weight: 700;
    }

    p {
        color: #686868;

    }

    label {
        width: 100%;
        display: inline-block;
        color: #2A2F2B;
        opacity: 0.6;

        span {
            color: #F42C00;
        }
    }

    input,
    select {
        background: $bg-gray;
        border: 1px solid $border;
        border-radius: 8px;
        height: 44px;
        font-size: 15px;
        outline: none;
        width: 100%;
        &:focus {
            outline: none;
            background: white !important;
        }

    }

    select {

        &:focus {
            outline: none;
            background: white !important;
        }
    }
}

.ratting-star{
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    .rate{
        padding: 0;
    }
}


.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: $green;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: $green;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: $green;
}

.login-popup {
	position: fixed;
	z-index: 2300;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: rgba(1, 7, 17, .9);
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out
}

.login-popup .login-popup-wrapper {
	opacity: 0;
	width: 90%;
	max-width: 500px;
	-webkit-transform: scale(.9);
	transform: scale(.9);
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
	-webkit-transition-delay: .7s;
	transition-delay: .7s;
	button{
		span{
			font-size: 16px;
		}
	}
}

.login-popup .login-popup__form {
	position: relative;
	padding: 10px 40px 30px 40px;
	border-radius: 5px;
	background-color: #fff
}

.login-popup .login-popup__form .input-icon {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 15px
}

.login-popup .login-popup__form .input-icon.icon-lock {
	font-size: 20px
}
.btn-form-rating{
    position: absolute;
    right: 15px;
    cursor: pointer;
    top: 15px;
    img{
        width: 34px;
    }
}
.btn-social-message{
    position: fixed;
    bottom: 20px;
    right: 0;
    width: 90px;
    z-index: 99;
    a{
        display: inline-block;
        width: 100%;
        margin-bottom: -10px;
        img{
            width: 100%;
        }
    }
}
.sent-buttonn-rating{
    display: inline-block;
    text-align: right;
    width: 100%;
    button{
        color: white !important;
    }
}
.login-popup .custom-control-label a {
	color: #67B54B;
	border-bottom: 1px solid #67B54B
}

.login-popup .login-popup__title {
	font-size: 24px;
	margin-bottom: 15px
}

.login-popup .go-login,
.login-popup .go-register {
	color: #67B54B;
	margin-left: 10px
}

.login-popup .go-login i,
.login-popup .go-register i {
	display: inline-block;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	border-radius: 50%;
	font-size: 10px;
	margin-left: 6px;
	color: #67B54B;
	-webkit-transition: .3s linear;
	transition: .3s linear
}

.login-popup .go-login:hover i,
.login-popup .go-register:hover i {
	color: #fff;
	background-color: #67B54B
}

.login-popup.active {
	opacity: 1;
	visibility: visible
}

.login-popup.active .login-popup-wrapper {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
    .form-group{
        input{
            height: 40px;
        }
    }
}

.login-popup.inActive {
	opacity: 0;
	-webkit-transition-delay: .5s;
	transition-delay: .5s
}
.button-submitform button {
	float: right;
	border: 0;
    color: white !important;
}

/* ------------------------------------ Footer  -------------------------------------------------------------------*/
.section-form-dangky {
	position: relative;
	z-index: 1;
	padding-top:50px
}



.list-more-rating{
    display: inline-block;
    width: 100%;
    margin-top: 0px;
    &.active{
        display: inline-block !important;
    }
}
.btn-action-s21{
	display: inline-block;
	width: 100%;
	margin-top: 30px;
	text-align: center;
	.align-items-center{
		text-align: right;
	}
	a{
		margin-right: 0 !important;
	}
}
.button-rating{
	.btn__primary{
		background: $brand;
		color: white;
        text-transform: capitalize;
    position: relative;
    z-index: 1;
    font-size: 15px !important;
    font-weight: 700 !important;
    height: 50px !important;
	line-height: 50px;
    text-align: center;
    min-width: 160px !important;
    padding: 0 25px;
    border: 0;
    border-radius: 800px;
    overflow: hidden;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
	text-transform: uppercase;
	color: white;
	background: $brand;
		span{
			color: white;
		}
		&:hover{
			span{
				color: white !important;
			}
		}
	}
}
.p-section-29{
	.container{
		max-width: 1000px;
	}
}
.rep-comment{
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
	button{
		float: left;
		border: 0;
		background: none;
		img{
			float: left;
			margin: 2px 5px 0 0;
		}
		span{
			float: left;
		}
	}
}
.category-list{
	padding-top: 30px;
    h2{
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 700;
        color: $brand;
        margin-bottom: 30px;
    }
    nav{
        ul{
            li{
                list-style: none;
				border-bottom: 2px solid $bg-gray;
				position: relative;
				&::before{
					content: '';
					display: inline-block;
					width: 2px;
					height: 16px;
					position: absolute;
					right: 7px;
					top: 15px;
					background: $green;
				}
				&::after{
					content: '';
					display: inline-block;
					width: 16px;
					height: 2px;
					position: absolute;
					right: 0;
					top: 22px;
					background:  $green;
				}
                a, b{
                    color: $text;
                    display: inline-block;
                    padding: 10px 0;
					font-weight: normal;
                    width: 100%;
					cursor: pointer;
                    
                }
                &.active{
					border-bottom: 2px solid $green;
                    a, b{
                        color: $green;
                        
                    }
					&::before{
						display: none;
					}
                }
				&.all-sort{
					&::before, &::after{
						display: none;
					}
				}
            }
        }
    }
}

.body-chuyengia{
    background: white;
    min-height: 1000px;
    box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
    display: inline-block;
    padding-bottom: 50px;
}
.body-sanpham{
    background: transparent;
    min-height: 1000px;
    display: inline-block;
    padding-bottom: 50px;
}

.pagging-page {
	width: 100%;
    display: flex;
    margin-top: 30px;
    justify-content: center;
	position: relative;
	.pagination {
		margin-top: 15px;
		justify-content: center;
		align-items: center;
		margin-bottom: 0;
	}

	ul {
		li {
      a{
        img{
          width:11px;
        }
      }
			a,
			span {
				width: 32px;
        border:0;
				height: 32px;
				margin: 0 3px;
				text-align: center;
				font-size: 14px;
				display: inline-block;
				text-decoration: none;
				color: $text;
				padding: 5px;

				&.active {
					border: 1px solid $brand  !important;
					color: white;
					background-color: white;
					padding-top: 5px;
          background:$brand;
				}
			}
		}
	}
}

.pt-0{
    padding-top: 0 !important;
}
section{
    float: left;
    width: 100%;
}
.first-about{
    float: left;
    width: 100%;
    .editor-tab{
        margin-bottom: 15px;
        padding-top: 0;
    }
}
.expand-rating{
	display: inline-block;
	width: 100%;
	text-align: center;
	button{
		border: 1px solid $brand !important;
		background: white;
		width: 250px;
		i{
			color:white !important;
			background: $brand !important;
		}
		span{
			color: $brand !important;
		}
		&:hover{
			background: $brand;
			i{
				color:$brand !important;
				background: white !important;
			}
			span{
				color: white !important;
			}
		}
	}
}
.bg-gray{
   background: $bg-gray;
}
.btn {
	text-transform: capitalize;
    position: relative;
    z-index: 1;
    font-size: 15px !important;
    font-weight: 700 !important;
    height: 50px !important;
	line-height: 50px;
    text-align: center;
    min-width: 160px !important;
    padding: 0 25px;
    border: 0;
    border-radius: 800px;
    overflow: hidden;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
	text-transform: uppercase;
	color: white;
	background: $brand;
}
.p-list-review{
	display: inline-block;
	width: 100%;
	.p-infor-review{
		display: inline-block;
		width: 100%;
		b{
			font-size: 16px;
			font-weight: bold;
			margin-right: 10px;
			float: left;
		}
		span{
			float: left;
		}

	}
	.p-ratting-user-cmt{
		display: flex;
		float: left;
		margin-left: 20px;
        img{
            width: 16px;
        }
		b{
			color: $text-alpha;
			font-size: 12px;
			margin-left: 3px;
		}
	}
	.item-review{
		display: inline-block;
		padding-left: 80px;
		position: relative;
		padding-bottom: 0px;
		margin-bottom: 20px;
		border-bottom: 1px solid $border;
		.item-review{
			padding-left: 80px;
			border: 0;
			margin-top: 20px;
		}
		span{
			&.p-name-acc{
				position: absolute;
				left: 0;
				top: 0;
				padding-top: 18px;
				width: 60px;
				font-size: 16px;
				font-weight: bold;
				background: #dedede;
				text-transform: uppercase;
				text-align: center;
				height: 60px;
				border-radius: 50%;
				color: $text;
			}
		}
	}
	h4{
		font-size: 18px;
		font-weight: bold;
		display: inline-block;
		width: 100%;
		margin-bottom: 10px;
		margin-top: 10px;
	}
	p{
		display: inline-block;
		width: 100%;
		text-align: justify;
	}
}
.p-section-rating{
	.container{
		max-width: 1000px;
		margin: auto;
		.p-ratting-box{
			.infor-resul-rating{
				h6{
					display: inline-block;
					width: 100%;
					font-size: 24px;
					color: $text;
					font-weight: normal;
				}
			}
		}
	}
	b{
		font-size: 32px;
		font-weight: bold;
		margin-right: 10px;
		color: $brand;
	}
	span{
		color: $text-alpha;
	}
	.star-comment{
		text-align: left;
		img{
			height: 37px;
		}
	}
}
.title-section-Detail{
    display: inline-block;
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
    h2{
       
        color: $tim;
        margin-bottom: 0;
    }
}
.inforDetailProduct-Section{
    padding-top: 0;
    .title-section-Detail{
        display: inline-block;
        margin-bottom: 30px;
        text-align: center;
        width: 100%;
        h2{
            color: $tim;
            margin-bottom: 0;
        }
    }
}
.page-list{
    max-width: 90% !important;
}
.content-header-infor{
    max-width: 667px;
    padding-top: 100px;
    text-align: left;
    p{
        color: white;
        font-size: 16px;
        margin-top: 20px;
    }
    h1{
        display: inline-block;
        width: 100%;
        color: white;
        
        font-weight: normal;
        b{
            color: white;
            font-weight: 700;
        }
    }
    h2{
        font-size: 50px;
        font-weight: normal;
        margin-top: 0;
        color: white;
        b{
            font-weight: 700;
            color: $green;
        }
    }
}
.breadcrumbs{
    display: flex;
    align-items: center;
    padding-top: 100px;
    width: max-content;
    overflow-x: auto;
	i{
		&::before{
			display: none !important;
		}
	}
    a{
        img{
            margin-top: -5px;
            display: inline-block;
        }
    }
    a{
        color: white;
        font-size: 12px;
    }
    i{
        display: inline-block;
        padding: 0 7px;
        &.ti-angle-right{
            background: url(../images/right.svg) no-repeat center;
            width: 4px;
            height: 9px;
            display: inline-block;
        }
    }
    padding-top: 100px;
}
.content-header-page{
    position: absolute;
    z-index: 9;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
}
section{
    padding: 50px 0;
}
.section-first-productDetail{
.inforSectionFirst-DetailPage{
    position: relative;
    .thumbail-SectionFirst{
        padding: 10px;
        img{
            width: 100%;
        }
    }
}
}
.flex-infor{
    display: flex;
    align-items: center;
    width: 100%;
}
.content-technical-Sperovid{
    .row{
        display: flex;
        align-items: center;
    }
}
.infor-Sperovid{
    
    ul{
        margin-top: 20px;
        li{
            margin-bottom: 10px !important;
            padding-left: 32px !important;
            &::before{
                width: 25px !important;
                height: 25px !important;
                top: 4px !important ;
                background-size: contain !important;
            }
            p{
                margin-bottom: 0;
                line-height: 29px !important;
                font-size: 16px !important;
            }
        }
    }
    p{
        font-size: 16px;
        line-height: 35px;
        b{
            font-size: 28px;
            color: $tim;
            font-weight: 800;
        }
    }
}
.thumbail-Sperovid{
    img{
        width: 100%;
    }
}
ul.list-check{
    padding: 0;
        li{
            list-style: none;
            padding-left: 40px;
            margin-bottom: 20px;
            position: relative;
            &::before{
                width: 31px;
                height: 31px;
                display: inline-block;
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                background: url(../images/check.svg) no-repeat center top;
            }
            p{
                font-size: 16px;
                margin-bottom: 0;
            }
        }
}
.body-faqs{
    max-width: 700px;
    margin: auto;
    img{
        max-width: 100%;
    }
}
.listfaqs{
    margin-top: 20px;
}
.item-faqs{
    margin-bottom: 0px;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid $border;
    
}
.editor-tab{
    p{
        line-height: 29px;
    }
    h6{
        font-size: 16px;
        font-weight: 700;
    }
}

.title-answer{
    background: url(../images/answer-title.svg);
    width: 79px;
    height: 29px;
    display: flex;
    margin-right: 10px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    align-items: center;
    padding-left: 10px;
}
.infor-data-doctor{
    display: inline-block;
    span{
        color: $text-alpha;
    }
    b{
        color: $text;
        font-weight: 700;
        margin-left: 20px;
    }
}
.head-answer{
    display: flex;
    align-items: center;
}
.answer-faqs{
    background: $bg-gray;
    padding: 20px;
    width: 100%;
    display: none;
}
.sectio-columns-boxServices{
    padding-top: 0 !important;
}

.box-icon-Services{
    background: #FFFFFF;
       display: inline-block;
        width: 100%;
        box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
        border-radius: 12px !important;
        overflow: hidden;
        padding-top: 30px;
        margin-top: 30px;
        .avatar-format-scale{
            display: flex;
            justify-content: center;
            a{position: relative;
                display: block;
                img{
                    height:90px;
                    left: 0;
                    top: 0;
                }
            }
        }
        .infor-services-box{
            display: inline-block;
            background: white;
            text-align: center;
            padding: 20px;
            p{
                line-height: 27px;
            }
            span{
                color: $text-alpha;
                a{
                    font-weight: 700;
                    color: $text;
                }
            }
        
            h6{
                a{
                    color: $text;
                    font-weight: 700;
                    font-size: 16px;
                    text-align: center;
                    display: -webkit-box;
                    line-height: 27px;
                    min-height: 56px;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }
        }
}




.item-faqs{
    &.active{
        .answer-faqs{
            display: inline-block !important;
        }
        .question{
            h6{
                b{
                    color: $green;
                }
            }
        }
    }
}
.question{
    h6{
        cursor: pointer;
        padding: 10px 0;
        b{
            font-size: 18px;
            font-weight: 500;
            line-height: 30px;
        }
    }
}
.ngon-ngu-pc{
	img{
		width: 21px;
	}
	span{
		color: white;
	}
}
.right-header{
	ul{
		display: flex;
		align-items: center;
		margin-bottom: 0;
		li{
			list-style: none;
			margin-left: 40px;
		}
	}
}
.btn-action{
    margin-top: 20px;
	display: inline-block;
	width: 100%;
    text-align: left;
	&.center{
		text-align: center;
	}
	a{
		display: inline-flex;
		align-items: center;
		justify-content: center;
	}
	button{
		outline: none;
	}
}
.btn-common-fill{
	display: inline-block;
    background: #332B68;
    padding: 0 30px;
    color: white;
    text-align: center;
    transition: all .3s ease-in-out;
    border: 1.5px solid #332B68;
    color: white;
    border-radius: 30px;
    height: 45px;
    line-height: 51px;
    font-weight: 600;
	span{
		margin-left: 5px;
	}
	&:hover{
		opacity: 0.8;
		color: white;
		background: $green-text;
		border-color: $green-text;
	}
}
.infor-science-Section{
    padding-top: 0;
}
.infor-science-box{
    display: inline-block;
    background: white;
    padding: 20px;
	text-align: left;
    
    p{
        color: $text-alpha;
        margin-top: 15px;
    display: inline-block;
    width: 100%;
    }
    span{
        color: $text-alpha;
        a{
            color: $text-alpha;
        }
    }

    h6{
        margin-bottom: 9px;
        a{
            color: $text;
            font-weight: 700;
            font-size: 18px;
            display: -webkit-box;
            line-height: 27px;
            min-height: 70px;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
}
.tin-lien-quan{
	.owl-next span, .owl-prev span {
		top: 31%;
	}
	.owl-dots{
		display: none;
	}
}
.bg-tin-lienquan{
	background: $bg-gray;
	z-index: -1;
	min-height: 360px;
	margin-top: -341px;
}
.avatar-Blogs-Detail, .editor-Blogs-Detail-Page{
    width: 100%;
    img{
        width: 100%;
    }
}
.content-share{
    img{
        width: 30px;
    }
}
.tags-box a {
    height: 36px !important;
    padding: 0 15px !important;
    margin-right: 6px !important;
    margin-bottom: 10px !important;
}

.editor-Blogs-Detail-Page{
    padding: 30px 0;
    p{
        text-align: justify;
    }
    img{
        margin: 20px 0;
    }
    h6{
        font-size: 16px;
        font-weight: 700;
    }
}
.social-box{
    display: inline-block;
    max-width: 100%;
    margin: auto;
    width: 100%;
    .content-share{
        max-width: 816px;
        margin: auto;
        text-align: right;
        img{
            margin-left: 10px;
        }
    }
}
.tags-box{
	max-width: 100%;
    margin: auto;
    a{
        background: white;
        border: 1px solid $brand;
        height: 40px;
        padding: 0 20px;
        text-decoration: none;
        display: flex;
        color: $brand;
        width: fit-content;
        margin-right: 10px;
        float: left;
        align-items: center;
        border-radius: 100px;
        &:hover{
            background: $brand;
            color: white;
        }
    }
}
.box-content-Editor{
   margin-top: 30px;
    background: #FFFFFF;
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
border-radius: 12px;
padding: 20px;
display: inline-block;
position: sticky;
left: 0;
top: 100px;
ul{
    li{
        list-style: none;
        position: relative;
        padding-left: 20px;
        &::before{
            position: absolute;
            left: 0;
            top: 18px;
            width: 6px;
            height: 6px;
            border-radius: 1000px;
            content: '';
            display: inline-block;
            background: $brand;
            content: '';
            display: inline-block;
        }
        a{
            font-size: 14px;
            padding: 10px 0;
            border-bottom: 1px solid $border;
            color: $text;
            display: inline-block;
            width: 100%;
            &:hover{
                color: $brand;
            }
        }
        &:nth-last-child(1){
            a{
                border-bottom: 0;
                padding-bottom: 0;
            }
        }
    }
}
}
.descriptio-Blogs-Detail{
	overflow: initial;
    padding-top: 0;
    .body-description{
       
        .description-short{
            max-width: 1100px;
            padding: 20px 0;
            margin: auto;
            b{
                font-weight: 700;
                font-size: 18px;
            }
        }
    }
}
.page-Detail-Blogs{
    max-width: 100%;
    margin: 0;
    p{
        a{
            color: white;
            text-decoration: none !important;
        }
    }
}
.p0{
    padding: 0 !important;
}
.small-Blogs{
    .infor-science-box{
        padding-top: 10px;
    }
    .infor-science-box h6 a {
        color: #494848;
        font-weight: 700;
        font-size: 16px !important;
        display: -webkit-box;
        line-height: 27px;
        min-height: 56px !important;
        -webkit-line-clamp: 2 !important;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    span{
        font-size: 13px;
    }
}


.item-science{
    background: #FFFFFF;
    display: inline-block;
    width: 100%;
    box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.05);
    border-radius: 12px !important;
    overflow: hidden;
    margin-bottom: 30px;

    .avatar-format-scale{
        a{position: relative;
            padding-top: 56%;
            display: block;
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                left: 0;
                top: 0;
            }
        }
    }
}

.infor-Content-Section-First{
    
    .btn-action{
        margin-top: 20px;
    }
}
.editor-tab{
	h3{
		font-size: 20px;
	}
    p{
		display: inline-block;
		width: 100%;
		font-size: 14px;
		line-height: 26px;
		color: #494848;
    }
}
.infor-item-element-Product{
    position: relative;
    min-height: 110px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    padding-left: 140px;
    img{
        margin-right: 20px;
        width: 110px;
        position: absolute;
        left: 0;
        top: 0;
        height: 110px;
        object-fit: cover;
    }
}
.editor-tab{
    padding: 30px 0 0 0;
}
section{
    overflow: hidden;
}

.infor-detail-product-Page{
    display: inline-block;
    width: 100%;
    background: $bg-gray;
}
.contet-tab-InforProduct{
    float: left;
    width: 100%;
}

.body-tab-infor_product{
    display: inline-block;
    width: 100%;
    padding: 30px 0;
    .tab-content{
        background: white;
        border-radius: 12px;
        display: inline-block;
        width: 100%;
        padding: 30px;
        margin-top: 11px;
        padding-top: 0;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.07);
        border-radius: 12px;
    }
    ul{
        &.nav-tabs{
            display: flex;
            border: 0;
            justify-content: center;
            li{
                border: 0;
                a{
                    padding: 0 20px;
                    border: 0 !important;
                    background: none !important;
                    font-size: 16px;
                    color: $text !important;
                    font-weight: 700;
                    position: relative;
                    &::after{
                        height: 2px;
                        width: 100%;
                        display: inline-block;
                        background: none;
                        content: '';
                        position: absolute;
                        bottom: -10px;
                        left: 0;
                    }
					&.active{
						color: $green !important;
						&::after{
							background: $green;
						}
					}
                }
                
            }
        }
    }
}   
.infor-Content-Section-First{
    ul{
        padding: 0;
        li{
            list-style: none;
            padding-left: 30px;
            margin-bottom: 20px;
            position: relative;
            &::before{
                width: 26px;
				height: 26px;
				display: inline-block;
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				background: url(../images/check.svg) no-repeat center top;
				background-size: contain;
            }
            p{
                font-size: 16px;
                margin-bottom: 0;
            }
        }
    }
    padding-left: 60px;
    h6{
        text-transform: uppercase;
        font-size: 24px;
        color: $green;
    }
    h3{
        font-weight: 400;
        color:$tim ;
        display: inline-block;
        width: 100%;
        font-size: 32px;
        line-height: 51px;
        margin-bottom: 20px;
        margin-top: 10px;
        b{
            font-weight: 700;
        }
    }
}
.price-product{
    font-size: 50px;
    color: $tim;
    font-weight: 700;
}
.ratingbox{
    align-items: center;
    display: flex;
    .img-rating{
        display: flex;
        img{
            margin-right: 4px;
            width: 22px;
        }
    }
    span{
        b{
            font-size: 25px;
            
            margin-right: 5px;
            color: $green;
        }
        font-size: 16px;
        color: $text;
    }
}
.infor-Content-Section-First{
    .btn-action{
        a{
            font-size: 18px;
            width: 300px;
        }
    }
}
@media only screen and (max-width: 1450px) {
    .content-header-infor{
        max-width: 467px;
        padding-top: 30px;
        text-align: left;
        h1{
            display: inline-block;
            width: 100%;
            color: white;
            font-size:50px;
            font-weight: normal;
            b{
                color: white;
                font-weight: 700;
            }
        }
        h2{
            font-size: 40px;
            font-weight: normal;
            color: white;
            b{
                font-weight: 700;
                color: $green;
            }
        }
    }
  }
/*---vide0 bg--*/
  .video-cans {
    display: inline-block;
    width: 100%;
    position: relative;
    background-size: cover !important;
    height: 645px;
    border-radius: 12px !important;
    overflow: hidden;
    img {
      width: 100%;
    }
  }

.close-bg-video {
    position: absolute;
    right: -50px;
    top: -10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    font-weight: normal;
    border: 0;
    font-size: 16px;
    outline: none;
    z-index: 9999999;
    background-color: white;
  }
  .current_page_item {
    a {
      color: $brand;
    }
  }
  
  .overlay {
    width: 100%;
    margin: 0 auto;
    height: 645px;
    display: none;
  
    &._active {
      display: block;
      iframe {
        width: 100%;
        height: 645px;
      }
    }
  }
  /*---vide0 bg--*/

  /*=====sản phẩm========*/
  .box-bill{
	padding: 30px;
	border-radius: 12px;
	&:hover{
		box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
		background: white;
	}
	
	.name-bill-top{
		text-align: center;
		.item-product{
			position: relative;
			padding-top: 0%;
			display: block;
			height: 278px;
			img{
				max-width: 100%;
				max-height: 100%;
			}
		}
		h5{
			margin: 40px 0;
			min-height: 52px;
			a{
				color: $text;
			}
		}
	}
	.list-function{
		.icon-item{
			width: 100%;
			position: relative;
			display: inline-grid;
			align-items: center;
			align-content: center;
			margin-bottom: 15px;
			&:nth-last-child(1){
				margin-bottom: 0;
			}
			i{
				width: 22px;
				height: 22px;
				text-align: center;
				border-radius: 50%;
				background: #75BBB8;
				line-height: 18px;
				position:absolute;
				&::before{
					color: white;
					font-size: 10px;
				}
			}
			span{
				font-family: inter, sans-serif;
				padding-left: 32px;
				float: left;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
				color: $text-alpha;
				line-height: 26px;
			}
		}
	}
}
/*============not fount=============*/
.not-found{
	img{
		max-width: 300px;
		margin-bottom: 25px;
	}
}


@media only screen and (max-width: 1200px) {
    .content-header-infor{
        max-width: 467px;
        padding-top: 0px;
    }
    .box-content-Editor {
        display: none;
    }
  }
  @media only screen and (max-width: 800px) {
    .box-contact-page {
        background: #FFFFFF;
        
        border-radius: 12px;
        display: inline-block;
        padding: 30px 20px;
        width: 100%;
    }
    .descriptio-Blogs-Detail{
        padding: 20px 15px;
    }
    .head-answer {
        display: inline-block;
        margin-bottom: 10px;
    }
    .video-cans {
        display: inline-block;
        width: 100%;
        position: relative;
        background-size: contain !important;
        height: 205px;
        margin-top: 20px;
    }
    .overlay._active iframe {
        width: 100%;
        height: 205px;
    }
    .title-answer{
        margin-bottom: 10px;
    }
    .infor-data-doctor b {
        color: #494848;
        font-weight: 700;
        margin-left: 0;
        width: 100%;
        display: inline-block;
        text-align: left;
        margin-top: 6px;
    }
    .item-science{
        margin-bottom: 30px;
    }
    .infor-Content-Section-First{
        padding-left: 0;
    }
    .infor-Content-Section-First{
        .btn-action{
            a{
                font-size: 18px;
                width: 100%;
            }
        }
    }
    .title-section-Detail h2 {
        font-size: 30px !important;
    }
    .infor-Sperovid p b {
        font-size: 24px;
        color: #332B68;
        font-weight: 800;
    }
    .infor-Content-Section-First h3 {
        color: #332B68;
        display: inline-block;
        width: 100%;
        font-size: 30px;
        line-height: 41px;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .content-header-infor h2 b br{
        display: none;
    }
    .body-tab-infor_product {
        display: inline-block;
        width: 100%;
        padding: 0px 0;
    }
    .infor-item-element-Product img {
        width: 80px;
        height: 80px;
        border-radius: 8px;
    }
    .infor-item-element-Product {
        position: relative;
        min-height: 80px;
        display: flex;
        align-items: center;
        margin-top: 20px;
        padding-left: 100px;
    }
    .price-product {
        font-size: 50px;
        color: #332B68;
        font-weight: 700;
    }
    .ratingbox .img-rating img {
        margin-right: 4px;
        width: 20px;
    }
    .ratingbox span {
        font-size: 13px;
        color: #494848;
    }
    .ratingbox span b {
        font-size: 16px;
    }
        
    section {
        padding: 20px 0;
    }
    .body-tab-infor_product ul.nav-tabs li a::after {
        height: 2px;
        width: 100%;
        display: inline-block;
        background: none;
        content: '';
        position: absolute;
        bottom: 4px;
        left: 0;
    }
    .body-tab-infor_product ul.nav-tabs li a {
        padding: 15px 20px;
    }
    .content-technical-Sperovid .row{
        display: inline-block;
    }
    .title-tab-scroll {
        overflow-x: auto;
        display: inline-block;
        width: 100%;
    }
    .title-tab-scroll{
        overflow-x: auto;
        ul{
            width: max-content;
        }
    }
    .bg-header{
        img{
            &.bg-header-PC{
                width: 100%;
                display: none;
            }
            &.bg-header-MB{
                width: 100%;
                display: block;
            }
        }
    }
    .content-header-infor{
        max-width: 100% !important;
        padding-top: 60px;
        text-align: left;
        p{
            color: white;
            font-size: 16px;
            line-height: 28px;
            margin-top: 10px;
        }
    }
  }

  .descriptio-Blogs-Detail{
	.editor-Blogs-Detail-Page{
		div, ul, li{
			height: initial !important;
			width: initial !important;
		}
		ul{
			padding-left: 15px;
		}
		h1, h2, h3, h4, h5, h6, p, span, b, label, strong, i{
			font-size: initial;
		}
	}
  }
.box-content-Editor{
	ul{
		padding-left: 15px;
	}
	h1, h2, h3, h4, h5, h6, p, span, b, label, strong, i{
		font-size: initial;
		font-weight: initial;
	}
}








.about-huro .video-about-huro .about-left {
    padding: 59px 40px;
}
.answer-faqs .editor-tab h1,
.answer-faqs .editor-tab h2,
.answer-faqs .editor-tab h3,
.answer-faqs .editor-tab h4,
.answer-faqs .editor-tab h5,
.answer-faqs .editor-tab h6,
.answer-faqs .editor-tab span,
.answer-faqs .editor-tab b,
.answer-faqs .editor-tab p,
.answer-faqs .editor-tab label{
	font-size:initial;
}
.answer-faqs .editor-tab ul{
	padding-left:15px;
}
@media only screen and (max-width: 767px) {
	.logo-chung-nhan.mt-60{
		margin-bottom: 30px !important;
	}
.section-tab .nav.nav-tabs .nav-item.nav-link {
    width: 13.666%;
}
	.row.chung-nhan.mt-60{
		margin-top:0 !important;
	}
	
	.section-banner-top .item-slider .content-slider h1 {
    padding: 10px 0;
}
	.content-head .menu nav > ul > li.submenu > ul {
    list-style-type: none !important;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 10px 20px !important;
    top: 120px ;
}
	.ngon-ngu-pc a{
		display:flex;
	}
	.ngon-ngu-pc a img{
		margin-right:3px;
	}
 .about-huro .video-cans {
    width: 100%;
    background-size: cover !important;
}
	.about-huro .video-cans {
    border-radius: 12px !important;
}
	.body-tab-infor_product ul.nav-tabs li a {
    padding: 20px 20px;
    height: 70px;
    display: inline-block;
}
}

.subcate-page{
	display: none;
	width: 100%;
	padding-left: 20px;
	a{
		display: inline-block;
		width: 100%;
		padding: 10px 0;
		color: $text !important;
		&.active{
			color: $green !important;
		}
	}
	
}
.category-list{
	ul{
		li{
			&.active{
		
				.subcate-page{
					display: inline-block !important;
				}
			}
		}
	}
}





