@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap");
/*
@import './css-import/list-page';*/
h1 {
  font-size: 50px;
  font-weight: 700; }

h2 {
  font-size: 34px;
  font-weight: 700; }

h3 {
  font-size: 28px;
  font-weight: 600; }

h4 {
  font-size: 22px;
  font-weight: 600; }

h5 {
  font-size: 16px;
  font-weight: 600; }

h6 {
  font-size: 18px;
  font-weight: 600; }

p {
  font-size: 14px; }

strong, span, i, label {
  font-size: 14px; }

.text-brand {
  color: #332B68; }

.page-product {
  display: inline-block;
  width: 100%; }

body {
  font-family: 'Inter', sans-serif;
  color: #494848;
  font-weight: 400;
  padding: 0;
  margin: 0;
  width: 100%;
  line-height: 1.6; }

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.container {
  max-width: 1200px;
  margin: auto; }

.btn-action {
  display: inline-block;
  width: 100%; }
  .btn-action a {
    display: inline-flex;
    align-items: center;
    justify-content: center; }
  .btn-action button {
    outline: none; }

.btn-common {
  display: inline-block;
  background: #332B68;
  padding: 0 30px;
  color: white;
  text-align: center;
  transition: all .3s ease-in-out;
  border: 1.5px solid #332B68;
  color: white;
  border-radius: 30px;
  height: 45px;
  line-height: 51px;
  font-weight: 600; }
  .btn-common span {
    margin-left: 5px; }
  .btn-common:hover {
    opacity: 0.8;
    color: white;
    background: #85B867;
    border-color: #85B867; }

body .section-banner-headpage .content-slider {
  padding: 0 !important;
  width: 100% !important; }
body .section-banner-headpage .breadcrumbs {
  position: absolute;
  z-index: 9; }
body .section-banner-headpage h1 {
  text-transform: none !important;
  max-width: 550px;
  -webkit-line-clamp: 1000 !important; }
  body .section-banner-headpage h1 b {
    color: #85B867; }

.btn-common-fill {
  display: inline-block;
  background: #332B68;
  padding: 0 50px;
  color: white;
  text-align: center;
  transition: all .3s ease-in-out;
  border: 1.5px solid #332B68;
  color: white;
  border-radius: 30px;
  height: 55px;
  line-height: 51px;
  font-weight: 600; }
  .btn-common-fill span {
    margin-left: 5px; }
  .btn-common-fill:hover {
    opacity: 0.8;
    color: white;
    background: #85B867;
    border-color: #85B867; }

.btn-common-noborder {
  display: inline-block;
  background: transparent;
  padding: 0 50px;
  text-align: center;
  transition: all .3s ease-in-out;
  border: 1.5px solid transparent;
  color: #332B68;
  border-radius: 30px;
  height: 55px;
  line-height: 51px;
  font-weight: 600; }
  .btn-common-noborder span.icon-arrow-right {
    margin-left: 5px; }
    .btn-common-noborder span.icon-arrow-right::before {
      color: #332B68; }
  .btn-common-noborder:hover {
    opacity: 0.8;
    color: #332B68;
    background: transparent;
    border-color: #332B68; }

section {
  padding: 55px 0;
  display: inline-block;
  width: 100%;
  overflow: hidden; }

.title-section {
  display: inline-block;
  width: 100%;
  font-weight: 600;
  text-align: center; }
  .title-section a {
    color: #494848;
    align-items: flex-start; }
    .title-section a img {
      height: 40px;
      margin: 0 10px 10px 10px; }

.title-page {
  display: inline-block;
  width: 100%;
  font-weight: 700;
  text-align: center; }

a {
  text-decoration: none; }

.flex-center {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center; }

.mt-10 {
  margin-top: 10px; }

.mt-20 {
  margin-top: 20px; }

.mt-30 {
  margin-top: 30px; }

.mt-40 {
  margin-top: 40px; }

.mt-50 {
  margin-top: 50px; }

.mt-60 {
  margin-top: 60px; }

.mt-70 {
  margin-top: 70px; }

.mb-10 {
  margin-bottom: 10px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-50 {
  margin-bottom: 50px; }

.mb-60 {
  margin-bottom: 60px; }

.mb-70 {
  margin-bottom: 70px; }

.m10 {
  margin: 10px; }

.m15 {
  margin: 15px; }

.m20 {
  margin: 20px; }

.m25 {
  margin: 25px; }

.m30 {
  margin: 30px; }

.m35 {
  margin: 35px; }

.m40 {
  margin: 40px; }

.m45 {
  margin: 45px; }

.m50 {
  margin: 50px; }

.m55 {
  margin: 55px; }

.m60 {
  margin: 60px; }

.m65 {
  margin: 65px; }

.m70 {
  margin: 70px; }

.ml-0 {
  margin-left: 0; }

.mr-0 {
  margin-right: 0; }

.mt-0 {
  margin-top: 0; }

.mb-0 {
  margin-bottom: 0; }

.p10 {
  padding: 10px; }

.p15 {
  padding: 15px; }

.p20 {
  padding: 20px; }

.p25 {
  padding: 25px; }

.p30 {
  padding: 30px; }

.p35 {
  padding: 35px; }

.p40 {
  padding: 40px; }

.p45 {
  padding: 45px; }

.p50 {
  padding: 50px; }

.p55 {
  padding: 55px; }

.p60 {
  padding: 60px; }

.p65 {
  padding: 65px; }

.p70 {
  padding: 70px; }

.pl-0 {
  padding-left: 0; }

.pr-0 {
  padding-right: 0; }

.pt-0 {
  padding-top: 0; }

.pb-0 {
  padding-bottom: 0; }

.pd-left {
  padding-left: 30px; }

.pd-right {
  padding-right: 30px; }

.center {
  text-align: center; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.language {
  display: none; }

.avatar-thumb {
  display: inline-block;
  width: 100%; }
  .avatar-thumb a {
    position: relative;
    padding-top: 143%;
    display: block; }
    .avatar-thumb a img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0; }

.content-header-infor.page-Detail-Blogs {
  padding-top: 55px !important; }

.body-content-slider .btn-action a {
  border: 1px solid white;
  background: none; }

.section-tab .about-nha-nghien-cuu ul {
  padding-left: 15px; }

header {
  display: inline-block;
  width: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  left: 0;
  padding: 0 10px;
  background-image: linear-gradient(to bottom, #332b68, rgba(51, 43, 104, 0)); }
  header .width-menu {
    width: 99%;
    margin: auto; }

.product-solution {
  display: flex;
  margin: 20px 0;
  justify-content: right;
  padding-right: 15px; }
  .product-solution img {
    margin-right: 5px; }

.copyright-footer {
  font-size: 13px;
  padding-top: 15px;
  border-top: 1px solid #4b4289;
  color: white;
  display: inline-block;
  margin-top: 20px;
  width: 100%;
  text-align: center; }
  .copyright-footer a {
    color: white;
    font-size: 13px;
    margin: 0;
    padding: 0;
    opacity: 1; }

.descriptio-Blogs-Detail .avatar-Blogs-Detail img {
  border-radius: 12px; }

.editor-tab div {
  width: initial !important;
  height: initial !important; }
.editor-tab img {
  height: initial !important;
  width: 100%; }

.content-head {
  display: flex;
  justify-content: space-between; }
  .content-head .logo {
    display: flex;
    align-items: center; }
    .content-head .logo img {
      padding: 10px 0;
      max-height: 70px; }
  .content-head nav {
    display: flex;
    align-content: center;
    -ms-flex-pack: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    transition: all .3s ease-in-out;
    padding: 0; }
    .content-head nav ul {
      display: flex;
      align-content: center;
      -ms-flex-pack: center !important;
      -ms-flex-align: center !important;
      align-items: center !important;
      transition: all .3s ease-in-out;
      margin-bottom: 0;
      position: relative; }
      .content-head nav ul li {
        list-style: none; }
        .content-head nav ul li a {
          color: white;
          font-weight: 400;
          text-decoration: none;
          padding: 7px 15px; }
          .content-head nav ul li a .ti-angle-down::before {
            font-size: 8px; }
          .content-head nav ul li a:hover {
            color: #85B867; }

.search-input span.ti-search {
  font-size: 18px; }
.search-input input {
  font-size: 18px; }

.search {
  position: absolute;
  top: 70px;
  background: #fff;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  left: 0;
  right: 0;
  display: none;
  height: 70px;
  align-items: center; }
  .search .search-input {
    width: 100%;
    max-width: 500px;
    margin: auto;
    display: flex;
    align-items: center; }
    .search .search-input span .ti-search::before {
      color: #707070; }
    .search .search-input input {
      border-color: #fff;
      font-size: 14px;
      width: 98%;
      outline: none; }
      .search .search-input input:focus {
        outline: none;
        box-shadow: none; }
  .search button {
    background-color: #fff;
    outline: none;
    border: none;
    margin-right: 20px;
    font-weight: 700; }
    .search button span {
      font-weight: 700; }
      .search button span::before {
        color: #707070; }

.editor-Blogs-Detail-Page img {
  margin: 20px 0;
  height: initial; }

/*--------------------------------------------Scroll custom css---------------------------------------------------*/
/* width */
::-webkit-scrollbar {
  width: 8px;
  z-index: 999 !important; }

/* Track */
::-webkit-scrollbar-track {
  background: #f3f3f3;
  z-index: 999 !important; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cacaca;
  border-radius: 16px;
  z-index: 999 !important; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7AC3F2; }

::-webkit-scrollbar:horizontal {
  height: 8px; }

::-webkit-scrollbar-thumb:horizontal {
  background: #cacaca;
  border-radius: 16px; }

::-webkit-scrollbar-thumb:horizontal:hover {
  background: #7AC3F2;
  border-radius: 16px; }

/*--------------------------------------------Scroll custom css---------------------------------------------------*/
/*-------------------------menu---------------------------*/
.content-head .menu nav > ul > li.submenu > ul {
  justify-content: center;
  margin-bottom: 0;
  display: inherit; }

.menu nav ul > li > a::before {
  content: "";
  display: inline-block;
  font-family: 'themify';
  font-size: 9px;
  font-weight: 100;
  position: absolute;
  right: 0;
  top: 5px; }
.menu nav ul > li > a::before:last-child(1) {
  display: none; }

.menu {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center; }
  .menu nav ul {
    padding: 0; }
    .menu nav ul li {
      list-style: none;
      position: relative;
      padding: 5px 0; }
      .menu nav ul li button {
        background: none;
        border: none;
        outline: none; }
      .menu nav ul li i {
        display: none; }
      .menu nav ul li a {
        padding: 0 20px;
        position: relative;
        font-size: 16px; }
      .menu nav ul li a.call-phone {
        display: flex;
        align-items: center;
        color: #85C86F; }
        .menu nav ul li a.call-phone span {
          font-size: 24px;
          padding-left: 5px;
          font-weight: 600; }
        .menu nav ul li a.call-phone .icon-call::before {
          font-size: 16px; }
      .menu nav ul li ul {
        position: absolute;
        top: 53px;
        width: 310px;
        left: 0;
        opacity: 0;
        visibility: hidden;
        background: white;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
        border-radius: 4px;
        padding: 8px 20px; }
        .menu nav ul li ul li {
          padding: 5px;
          transition: all 0.3s linear; }
          .menu nav ul li ul li a {
            display: inline-block;
            width: 100%;
            font-weight: normal;
            padding: 8px 0;
            transition: 0.5s;
            color: #494848; }
            .menu nav ul li ul li a::before {
              display: none; }
            .menu nav ul li ul li a:hover {
              color: #85B867;
              background: #F5F7FB;
              padding-left: 20px;
              padding-right: 14px;
              border-radius: 8px; }
          .menu nav ul li ul li ul {
            position: relative !important;
            display: inline-block !important;
            width: 100% !important;
            top: 0 !IMPORTANT;
            opacity: 1 !important;
            visibility: initial !important;
            box-shadow: none !important;
            padding: 0px 15px !important; }
      .menu nav ul li:hover ul {
        opacity: 1;
        visibility: initial; }
      .menu nav ul li.active a {
        color: #85B867; }
      .menu nav ul li.active ul li a {
        color: #494848; }
        .menu nav ul li.active ul li a:hover, .menu nav ul li.active ul li a.active {
          color: #85B867 !important; }

.call-phone span {
  font-size: 18px;
  color: #85B867; }

.content-head .menu nav > ul > li.submenu > ul {
  list-style-type: none !important;
  left: 68px;
  z-index: 1; }

/* -------Sticky menu srcoll----- */
.menu-scroll {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  background: #332B68; }
  .menu-scroll nav {
    padding: 0 !important; }
    .menu-scroll nav ul li a {
      font-size: 16px; }
    .menu-scroll nav ul li a.call-phone {
      display: flex;
      align-items: center;
      color: #85C86F; }
      .menu-scroll nav ul li a.call-phone span {
        font-size: 16px;
        padding-left: 5px;
        font-weight: 600; }
      .menu-scroll nav ul li a.call-phone .icon-call::before {
        font-size: 15px; }
  .menu-scroll .logo a img {
    transition-delay: 1s;
    height: 70px;
    padding: 10px 0px; }

.section-banner-top .owl-theme .owl-nav {
  margin-top: 0; }

.section-banner-top .owl-dots {
  position: absolute;
  width: 100%;
  bottom: 50px; }

.no-sub a::after, .no-sub a::before {
  display: none !important; }

.section-why-join-page {
  border: none !important; }

.menu nav ul > li > a:nth-last-child(1)::before {
  display: none; }

.title-section {
  display: inline-block;
  width: 100%;
  font-weight: 600;
  text-align: center; }
  .title-section a {
    color: #494848;
    align-items: flex-start; }
    .title-section a img {
      height: 40px;
      margin: 0 10px 10px 10px; }

.content-site h3 {
  padding-top: 0;
  padding-bottom: 15px;
  font-weight: 600; }

.hinh-anh-Social {
  width: 100%; }
  .hinh-anh-Social img {
    width: 100%; }

/*==============================phone ===============================*/
.call-buton .cc-calto-action-ripple {
  z-index: 99999;
  position: fixed;
  left: 2rem;
  bottom: 3rem;
  background: #85B867;
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  border-radius: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff;
  -webkit-animation: cc-calto-action-ripple 0.6s linear infinite;
  animation: cc-calto-action-ripple 0.6s linear infinite;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none; }

.call-buton .cc-calto-action-ripple i {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-size: 2.2rem; }

.call-buton .cc-calto-action-ripple:hover i {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg); }

@-webkit-keyframes cc-calto-action-ripple {
  0% {
    -webkit-box-shadow: 0 4px 10px rgba(36, 143, 45, 0.432), 0 0 0 0 rgba(36, 143, 45, 0.2), 0 0 0 5px rgba(36, 143, 45, 0.2), 0 0 0 10px rgba(36, 143, 45, 0.2);
    box-shadow: 0 4px 10px rgba(36, 143, 45, 0.2), 0 0 0 0 rgba(36, 143, 45, 0.2), 0 0 0 5px rgba(36, 143, 45, 0.2), 0 0 0 10px rgba(36, 143, 45, 0.2); }
  100% {
    -webkit-box-shadow: 0 4px 10px rgba(36, 143, 45, 0.2), 0 0 0 5px rgba(36, 143, 45, 0.2), 0 0 0 10px rgba(36, 143, 45, 0.2), 0 0 0 20px rgba(236, 139, 0, 0);
    box-shadow: 0 4px 10px rgba(36, 143, 45, 0.2), 0 0 0 5px rgba(36, 143, 45, 0.2), 0 0 0 10px rgba(36, 143, 45, 0.2), 0 0 0 20px rgba(236, 139, 0, 0); } }
@keyframes cc-calto-action-ripple {
  0% {
    -webkit-box-shadow: 0 4px 10px rgba(36, 143, 45, 0.2), 0 0 0 0 rgba(36, 143, 45, 0.2), 0 0 0 5px rgba(36, 143, 45, 0.2), 0 0 0 10px rgba(36, 143, 45, 0.2);
    box-shadow: 0 4px 10px rgba(36, 143, 45, 0.2), 0 0 0 0 rgba(36, 143, 45, 0.2), 0 0 0 5px rgba(36, 143, 45, 0.2), 0 0 0 10px rgba(36, 143, 45, 0.2); }
  100% {
    -webkit-box-shadow: 0 4px 10px rgba(36, 143, 45, 0.2), 0 0 0 5px rgba(36, 143, 45, 0.2), 0 0 0 10px rgba(36, 143, 45, 0.2), 0 0 0 20px rgba(236, 139, 0, 0);
    box-shadow: 0 4px 10px rgba(36, 143, 45, 0.2), 0 0 0 5px rgba(36, 143, 45, 0.2), 0 0 0 10px rgba(36, 143, 45, 0.2), 0 0 0 20px rgba(236, 139, 0, 0); } }
span.num {
  position: absolute;
  color: #85B867;
  right: -30%;
  bottom: -50%;
  left: -20%; }

/* ========================= Section banner ===================== */
.wp-caption-text {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-style: italic;
  margin-bottom: 20px; }

.section-banner-top {
  background: transparent;
  padding-bottom: 0; }
  .section-banner-top .item-slider {
    position: relative;
    display: flex;
    align-items: center; }
    .section-banner-top .item-slider .slider-PC {
      width: 100%;
      display: block; }
    .section-banner-top .item-slider .body-content-slider {
      position: absolute;
      width: 100%;
      left: 0;
      height: 100%;
      display: flex;
      align-items: center; }
    .section-banner-top .item-slider .content-slider {
      width: 90%;
      margin: auto; }
      .section-banner-top .item-slider .content-slider h1 {
        font-weight: 600;
        color: white;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        padding: 10px 0;
        font-size: 50px;
        text-transform: uppercase; }
      .section-banner-top .item-slider .content-slider p {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: 24px;
        color: white; }
      .section-banner-top .item-slider .content-slider h3 {
        font-size: 24px;
        color: #85B867;
        margin-bottom: 15px;
        font-weight: 700; }
    .section-banner-top .item-slider .slide-MB {
      display: none !important; }

/* ========================= Section About Huro =========================  */
.about-huro {
  padding-top: 10px !important; }
  .about-huro .btn-action a {
    background: #85B867; }
  .about-huro .video-cans {
    border-radius: 0 12px 12px 0 !important;
    height: 432px; }
  .about-huro .overlay._active iframe {
    height: 432px; }
  .about-huro .video-about-huro {
    display: flex; }
    .about-huro .video-about-huro .about-left {
      width: 49%;
      padding: 70px 40px;
      border-bottom-left-radius: 8px;
      border-top-left-radius: 8px; }
      .about-huro .video-about-huro .about-left .title-hurobio {
        display: flex;
        align-items: center;
        padding-bottom: 20px; }
        .about-huro .video-about-huro .about-left .title-hurobio h3 {
          padding: 0;
          margin: 0;
          color: white;
          padding-right: 10px; }
      .about-huro .video-about-huro .about-left p {
        font-weight: 400;
        color: white;
        font-size: 16px;
        display: -webkit-box;
        -webkit-line-clamp: 9;
        -webkit-box-orient: vertical;
        overflow: hidden; }
        .about-huro .video-about-huro .about-left p span {
          color: #85B867;
          font-size: 16px;
          font-weight: bold; }
    .about-huro .video-about-huro .video-cans .play-video-huro {
      display: flex;
      align-items: center;
      height: 100%;
      justify-content: center; }
      .about-huro .video-about-huro .video-cans .play-video-huro a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%; }
        .about-huro .video-about-huro .video-cans .play-video-huro a span {
          background-color: #85B867;
          border-radius: 50%;
          height: 100px;
          width: 100px;
          display: flex;
          justify-content: center;
          align-items: center; }
          .about-huro .video-about-huro .video-cans .play-video-huro a span::before {
            font-size: 32px; }

.hotline-contact-fooer {
  display: flex;
  align-items: center; }
  .hotline-contact-fooer a {
    margin: 0 10px 0 0; }
  .hotline-contact-fooer span {
    font-size: 14px;
    color: white;
    font-weight: 700; }

.expand-rating.expand-none {
  display: inline-block !important; }

/*================== Section Solution ====================*/
.section-solution {
  display: inline-block;
  width: 100%; }
  .section-solution .title-page h4 {
    text-transform: uppercase;
    color: #85B867;
    font-weight: 400; }
  .section-solution .col-md-3 {
    padding: 0;
    margin-top: 30px; }
    .section-solution .col-md-3 .box-bill {
      padding: 30px;
      border-radius: 12px; }
      .section-solution .col-md-3 .box-bill:hover {
        box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
        background: white; }
      .section-solution .col-md-3 .box-bill .name-bill-top {
        text-align: center; }
        .section-solution .col-md-3 .box-bill .name-bill-top .item-product {
          position: relative;
          padding-top: 0%;
          display: block;
          height: 278px; }
          .section-solution .col-md-3 .box-bill .name-bill-top .item-product img {
            max-width: 100%;
            max-height: 100%; }
        .section-solution .col-md-3 .box-bill .name-bill-top h5 {
          margin: 40px 0;
          min-height: 52px; }
          .section-solution .col-md-3 .box-bill .name-bill-top h5 a {
            color: #494848; }
      .section-solution .col-md-3 .box-bill .list-function .icon-item {
        width: 100%;
        position: relative;
        display: inline-grid;
        align-items: center;
        align-content: center;
        margin-bottom: 15px; }
        .section-solution .col-md-3 .box-bill .list-function .icon-item:nth-last-child(1) {
          margin-bottom: 0; }
        .section-solution .col-md-3 .box-bill .list-function .icon-item i {
          width: 20px;
          height: 20px;
          text-align: center;
          border-radius: 50%;
          background: #75BBB8;
          line-height: 18px;
          position: absolute;
          top: 5px; }
          .section-solution .col-md-3 .box-bill .list-function .icon-item i::before {
            color: white;
            font-size: 10px; }
        .section-solution .col-md-3 .box-bill .list-function .icon-item span {
          font-family: inter, sans-serif;
          padding-left: 32px;
          float: left;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          color: #707070;
          line-height: 26px; }

body.show-search .search.collapse {
  display: flex !important;
  opacity: 1 !important;
  visibility: initial !important; }
body.show-search header {
  background: #332B68 !important; }

/* ========================= Section section-tab =========================  */
.section-tab .nav.nav-tabs {
  border-bottom: none;
  max-width: 1200px; }
  .section-tab .nav.nav-tabs .nav-item.nav-link {
    width: 16.666%;
    text-align: center;
    border-right: 1px solid #0000000d;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 1px solid #0000000d;
    border-bottom: 1px solid #0000000d;
    position: relative; }
    .section-tab .nav.nav-tabs .nav-item.nav-link:nth-child(1) {
      border-left: 1px solid #0000000d;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px; }
    .section-tab .nav.nav-tabs .nav-item.nav-link:nth-last-child(1) {
      border-left: 1px solid #0000000d;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px; }
    .section-tab .nav.nav-tabs .nav-item.nav-link span {
      height: 70px;
      margin-top: 15px;
      display: flex;
      justify-content: center;
      margin-bottom: 20px; }
      .section-tab .nav.nav-tabs .nav-item.nav-link span img {
        max-height: 70px; }
    .section-tab .nav.nav-tabs .nav-item.nav-link p {
      font-weight: 600;
      color: #494848; }
    .section-tab .nav.nav-tabs .nav-item.nav-link i {
      display: none; }
    .section-tab .nav.nav-tabs .nav-item.nav-link.active p {
      color: white; }
    .section-tab .nav.nav-tabs .nav-item.nav-link.active i {
      display: block;
      position: absolute;
      bottom: -15px;
      left: 0;
      right: 0; }
      .section-tab .nav.nav-tabs .nav-item.nav-link.active i::before {
        color: #332B68;
        font-size: 36px; }
.section-tab .nav-tabs .nav-item.show .nav-link, .section-tab .nav-tabs .nav-link.active {
  border-left: 0;
  background: #332B68;
  color: white; }
  .section-tab .nav-tabs .nav-item.show .nav-link p, .section-tab .nav-tabs .nav-link.active p {
    color: white; }
.section-tab .tab-content .about-nha-nghien-cuu {
  padding-top: 70px;
  border-bottom: 1px solid #E6E6E6;
  margin-bottom: 15px; }
  .section-tab .tab-content .about-nha-nghien-cuu h3 {
    color: #332B68;
    padding-bottom: 30px; }
.section-tab .tab-content .info-nha-nghiencuu h5 {
  color: #332B68; }
.section-tab .tab-content .info-nha-nghiencuu span {
  color: #707070; }
.section-tab .pic-about-nha-nc {
  width: 100%;
  padding-top: 70px; }
  .section-tab .pic-about-nha-nc img {
    max-width: 100%; }

.scroll-mobile {
  background: white;
  margin-top: 20px; }

/*========================== Section Chứng nhận ===================== */
.section-chung-nhan .logo-chung-nhan {
  display: flex;
  align-items: center;
  justify-content: center; }
  .section-chung-nhan .logo-chung-nhan span {
    position: relative;
    padding-top: 0%;
    display: block;
    width: 181px;
    height: 181px;
    margin: 0 25px; }
    .section-chung-nhan .logo-chung-nhan span img {
      width: 100%;
      border-radius: 4px; }
.section-chung-nhan .chung-nhan .icon-item {
  display: flex;
  padding-bottom: 30px; }
  .section-chung-nhan .chung-nhan .icon-item i {
    width: 24px;
    height: 24px;
    background-color: #75BBB8;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    line-height: 20px;
    margin-top: 2px; }
    .section-chung-nhan .chung-nhan .icon-item i::before {
      color: white;
      font-size: 10px; }
  .section-chung-nhan .chung-nhan .icon-item span {
    padding-left: 34px;
    font-family: 'Inter', sans-serif;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 28px;
    font-size: 18px; }
    .section-chung-nhan .chung-nhan .icon-item span b {
      font-size: 16px;
      color: #332B68; }

/*========================== Section news ===========================*/
.img-news-left {
  position: absolute;
  right: 0;
  width: 250px;
  top: 0; }

.news-page .news .left-news .list-news-left-ad {
  position: relative;
  padding-right: 290px;
  margin-bottom: 20px;
  min-height: 190px; }
.news-page .news .left-news .list-news-left {
  position: relative; }
  .news-page .news .left-news .list-news-left a {
    color: #494848;
    text-decoration: none; }
    .news-page .news .left-news .list-news-left a h4 {
      font-size: 16px;
      font-weight: 700;
      color: #494848;
      padding: 0;
      margin: 0;
      padding-bottom: 10px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden; }
      .news-page .news .left-news .list-news-left a h4:hover {
        color: #85B867; }
    .news-page .news .left-news .list-news-left a .date-cate {
      width: 100%;
      float: left;
      margin: 0;
      color: #707070;
      padding-bottom: 5px; }
      .news-page .news .left-news .list-news-left a .date-cate span {
        color: #707070;
        padding: 0; }
      .news-page .news .left-news .list-news-left a .date-cate b {
        color: #707070; }
    .news-page .news .left-news .list-news-left a p {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      width: 100%;
      font-style: italic;
      color: #707070; }
.news-page .news .left-news .img-news-left a {
  position: relative;
  padding-top: 65%;
  display: block; }
  .news-page .news .left-news .img-news-left a img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0;
    border-radius: 8px; }
.news-page .news .right-news {
  padding-left: 50px; }
  .news-page .news .right-news .items-news-right {
    display: flex;
    margin-bottom: 20px; }
    .news-page .news .right-news .items-news-right .number-news-right {
      font-size: 30px;
      font-weight: 600;
      color: #75BBB8;
      padding: 0 30px 0 0;
      margin: 0; }
    .news-page .news .right-news .items-news-right .text-news-right a {
      color: #494848;
      text-decoration: none; }
      .news-page .news .right-news .items-news-right .text-news-right a h4 {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 5px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden; }
    .news-page .news .right-news .items-news-right .text-news-right .date-cate {
      width: 100%;
      float: left;
      margin: 0;
      color: #707070; }
      .news-page .news .right-news .items-news-right .text-news-right .date-cate span {
        color: #707070;
        padding: 0; }
      .news-page .news .right-news .items-news-right .text-news-right .date-cate b {
        color: #707070; }

/* ========================= Section think-customer =========================  */
.think-customer {
  display: inline-block;
  width: 100%;
  padding-bottom: 0 !important;
  background: white; }
  .think-customer .cam-nhan-khach-hang {
    padding-bottom: 0;
    margin-bottom: 0; }
    .think-customer .cam-nhan-khach-hang .title-section {
      margin: 0; }
    .think-customer .cam-nhan-khach-hang .icon-img {
      text-align: center;
      width: 40px;
      height: 40px;
      margin: auto; }
    .think-customer .cam-nhan-khach-hang .noi-dung-cam-nhan {
      padding: 20px 0;
      min-height: 195px; }
    .think-customer .cam-nhan-khach-hang .content-cam-nhan {
      margin: auto;
      text-align: center; }
      .think-customer .cam-nhan-khach-hang .content-cam-nhan .item {
        padding: 0 20px; }
        .think-customer .cam-nhan-khach-hang .content-cam-nhan .item .box-cam-nhan {
          border-radius: 8px;
          width: 100%;
          margin: 20px auto;
          padding: 20px;
          min-height: 230px;
          margin-bottom: 0;
          box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.07); }
          .think-customer .cam-nhan-khach-hang .content-cam-nhan .item .box-cam-nhan .owl-theme .owl-dots .owl-dot span {
            width: 6px !important;
            height: 6px !important;
            margin: 5px 7px;
            background: #D6D6D6;
            display: block;
            -webkit-backface-visibility: visible;
            transition: opacity .2s ease;
            border-radius: 30px; }
    .think-customer .cam-nhan-khach-hang .info-khach {
      width: 100%; }
      .think-customer .cam-nhan-khach-hang .info-khach .info-khach-hang {
        display: flex;
        justify-content: center; }
        .think-customer .cam-nhan-khach-hang .info-khach .info-khach-hang .avatar-kh {
          width: 60px;
          height: 60px;
          padding: 0 10px 0 0;
          margin-right: 15px; }
          .think-customer .cam-nhan-khach-hang .info-khach .info-khach-hang .avatar-kh img {
            border-radius: 50%;
            width: 60px;
            height: 60px;
            object-fit: cover;
            overflow: hidden; }
          .think-customer .cam-nhan-khach-hang .info-khach .info-khach-hang .avatar-kh h4 {
            font-weight: 600; }
          .think-customer .cam-nhan-khach-hang .info-khach .info-khach-hang .avatar-kh p {
            font-weight: 400; }
        .think-customer .cam-nhan-khach-hang .info-khach .info-khach-hang .name-tile-kh {
          text-align: left; }
          .think-customer .cam-nhan-khach-hang .info-khach .info-khach-hang .name-tile-kh h5 {
            font-weight: 600;
            text-align: left;
            padding-bottom: 0;
            margin-bottom: 5px;
            color: #332B68; }
          .think-customer .cam-nhan-khach-hang .info-khach .info-khach-hang .name-tile-kh p {
            font-weight: 400;
            text-align: left;
            color: #313131; }
    .think-customer .cam-nhan-khach-hang .bg-cam-nhan {
      width: 100%;
      text-align: center; }

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  padding-bottom: 20px; }

.owl-next {
  background: none !important;
  outline: none !important; }
  .owl-next span {
    width: 50px;
    font-size: 0px;
    color: white;
    height: 50px;
    background: url(../images/next-slide.svg) no-repeat center top;
    display: inline-block;
    position: absolute;
    top: 40%;
    background-size: cover;
    right: 10px; }
  .owl-next:hover {
    opacity: .7; }

.owl-prev {
  background: none !important;
  outline: none !important; }
  .owl-prev span {
    width: 50px;
    font-size: 0px;
    position: absolute;
    top: 40%;
    left: 10px;
    color: white;
    height: 50px;
    background: url(../images/prev-slide.svg) no-repeat center top;
    display: inline-block;
    background-size: cover; }
  .owl-prev:hover {
    opacity: .7; }

.owl-dots {
  opacity: .4; }
  .owl-dots span {
    width: 14px !important;
    height: 14px !important;
    border: 1px solid #ababab !important;
    outline: none; }

.owl-theme .owl-dots .owl-dot {
  outline: none; }

/* ========================= Section kênh bán hàng =========================  */
.section-hospital {
  background: #F5F7FB; }
  .section-hospital .store button {
    display: flex;
    padding: 23px 40px;
    align-items: center;
    border: 1px solid #332B68;
    border-radius: 12px;
    background: white; }
    .section-hospital .store button:hover {
      opacity: 0.5; }
    .section-hospital .store button span path {
      fill: #332B68; }
    .section-hospital .store button p {
      padding: 0;
      margin: 0;
      padding-left: 10px;
      text-transform: uppercase;
      font-weight: 600;
      color: #332B68; }
  .section-hospital .logo-doi-tac {
    padding-top: 50px; }
    .section-hospital .logo-doi-tac ul li {
      list-style: none;
      margin-bottom: 20px; }
      .section-hospital .logo-doi-tac ul li a {
        box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
        border-radius: 12px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        padding: 10px 0;
        position: relative; }
        .section-hospital .logo-doi-tac ul li a img {
          height: 50px;
          border-radius: 12px; }
          .section-hospital .logo-doi-tac ul li a img:hover {
            opacity: 0.8; }
  .section-hospital .hospital-pic {
    max-width: 95%;
    position: absolute;
    bottom: -55px; }

/*=======================video=======================*/
.video-cans {
  display: inline-block;
  width: 100%;
  position: relative;
  background-size: cover !important;
  height: 432px; }
  .video-cans img {
    width: 100%; }

.close-bg-video {
  position: absolute;
  right: -50px;
  top: -10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  font-weight: normal;
  border: 0;
  font-size: 16px;
  outline: none;
  z-index: 9999999;
  background-color: white; }

.current_page_item a {
  color: #332B68; }

.overlay {
  width: 100%;
  margin: 0 auto;
  height: 432px;
  display: none; }
  .overlay._active {
    display: block; }
    .overlay._active iframe {
      width: 100%;
      height: 432px; }

/* ========================= Section footer =========================  */
.line-footer {
  float: left;
  width: 100%;
  display: flex; }
  .line-footer .color-yellow {
    height: 10px;
    background-color: #FFD53E;
    width: 33.33333%; }
  .line-footer .color-green {
    height: 10px;
    background-color: #85B867;
    width: 33.33333%; }
  .line-footer .color-green2 {
    height: 10px;
    background-color: #75BBB8;
    width: 33.33333%; }

footer {
  padding: 40px;
  display: inline-block;
  width: 100%;
  background-color: #332B68;
  text-align: center; }
  footer a, footer span, footer p {
    opacity: .7; }
  footer a:hover {
    opacity: 1 !important; }
  footer .hotline-contact-fooer a {
    opacity: 1 !important; }
  footer .hotline-item a, footer .hotline-item span, footer .mail-item a, footer .mail-item span {
    opacity: 1 !important; }
  footer a {
    color: #494848;
    margin: 0 20px; }
  footer .socical a {
    margin: 0 5px; }
  footer .link-footer {
    width: 100%;
    margin: 0;
    padding: 0;
    clear: both; }
    footer .link-footer .box-link-food {
      display: flex; }
      footer .link-footer .box-link-food ul {
        width: 50%;
        text-align: left;
        margin-bottom: 0; }
        footer .link-footer .box-link-food ul h6 {
          margin-bottom: 10px;
          font-weight: 600;
          color: white;
          text-transform: uppercase; }
        footer .link-footer .box-link-food ul li {
          list-style: none;
          padding-bottom: 5px; }
          footer .link-footer .box-link-food ul li a {
            color: #707070;
            text-decoration: none;
            transition: 0.5s;
            padding-left: 0;
            margin-left: 0;
            color: white;
            font-size: 13px; }
            footer .link-footer .box-link-food ul li a:hover {
              color: #85B867;
              text-decoration: underline; }
    footer .link-footer .footer-l {
      position: relative;
      padding-left: 213px; }
      footer .link-footer .footer-l .img-logo {
        position: absolute;
        left: 0;
        top: 0;
        width: 170px; }
        footer .link-footer .footer-l .img-logo img {
          width: 100%; }
      footer .link-footer .footer-l .text-descript-footer {
        width: 100%; }
        footer .link-footer .footer-l .text-descript-footer p {
          color: white;
          text-align: left;
          font-size: 14px; }
        footer .link-footer .footer-l .text-descript-footer .icon-footer {
          display: flex; }
          footer .link-footer .footer-l .text-descript-footer .icon-footer .icon-social {
            display: flex; }
            footer .link-footer .footer-l .text-descript-footer .icon-footer .icon-social ul {
              padding-right: 30px;
              display: flex;
              align-items: center; }
              footer .link-footer .footer-l .text-descript-footer .icon-footer .icon-social ul li {
                list-style-type: none;
                text-align: center;
                line-height: 28px;
                display: inline-flex; }
                footer .link-footer .footer-l .text-descript-footer .icon-footer .icon-social ul li a {
                  border-radius: 100%;
                  background-color: #332B68;
                  height: 32px;
                  width: 32px;
                  padding: 0;
                  margin: 0 5px; }
                  footer .link-footer .footer-l .text-descript-footer .icon-footer .icon-social ul li a:hover {
                    opacity: 0.8; }
          footer .link-footer .footer-l .text-descript-footer .icon-footer .hotline {
            text-align: left;
            display: flex;
            align-items: center; }
            footer .link-footer .footer-l .text-descript-footer .icon-footer .hotline .ti-headphone {
              padding-right: 10px; }
              footer .link-footer .footer-l .text-descript-footer .icon-footer .hotline .ti-headphone::before {
                font-size: 40px;
                color: white; }
            footer .link-footer .footer-l .text-descript-footer .icon-footer .hotline .number-hotline i {
              color: #fff;
              font-style: normal;
              font-family: 'Inter', sans-serif;
              padding: 0;
              margin: 0; }
            footer .link-footer .footer-l .text-descript-footer .icon-footer .hotline .number-hotline h4 a {
              color: white;
              font-family: 'Inter', sans-serif;
              padding: 0;
              margin: 0; }
  footer .bottom-footer {
    border-top: 1px solid #E6E6E6;
    padding-top: 20px; }
    footer .bottom-footer .infor-footer {
      text-align: center; }
      footer .bottom-footer .infor-footer a {
        font-size: 12px;
        margin: 0 5px;
        color: #707070;
        text-decoration: underline; }
    footer .bottom-footer .socical a i {
      width: 30px;
      height: 30px;
      background: #E4E4E4;
      border-radius: 50%;
      padding: 8px;
      color: #636F75; }
      footer .bottom-footer .socical a i:hover {
        background: #85B867;
        color: white; }
  footer .copyright {
    text-align: center; }
    footer .copyright p {
      color: #707070;
      font-size: 12px;
      padding-top: 20px; }

.p30 {
  padding: 0 30px; }

.contact-bg img {
  width: 100%; }

.title-box-contact-page p {
  display: inline-block;
  width: 100%;
  line-height: 27px;
  color: #494848;
  margin-top: 10px;
  font-size: 16px; }

.box-contact-page {
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  display: inline-block;
  padding: 60px 50px;
  width: 100%; }
  .box-contact-page .form-dangky {
    background: none;
    box-shadow: none;
    padding: 0;
    margin-top: 20px; }
    .box-contact-page .form-dangky .form-group {
      margin-bottom: 20px; }
  .box-contact-page b {
    font-size: 24px;
    text-transform: uppercase;
    color: #332B68;
    margin-left: 10px; }

.lager-box-Blogs .infor-science-box h6 a {
  text-decoration: none;
  font-size: 32px;
  line-height: 48px; }

.seach-box-page {
  border: 2px solid #332B68;
  box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  height: 55px;
  display: inline-block;
  width: 100%;
  background: white;
  position: relative;
  padding-left: 50px;
  margin-top: 30px; }
  .seach-box-page img {
    position: absolute;
    left: 10px;
    top: 14px;
    width: 24px; }
  .seach-box-page input {
    display: inline-block;
    width: 100%;
    height: 50px;
    background: none !important;
    padding: 10px 20px 10px 0;
    border: 0;
    outline: none; }

.page-chuyen-gia {
  background: #F5F7FB;
  float: left;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0; }

.body-chuyengia {
  background: white;
  position: relative; }
  .body-chuyengia::before {
    content: '';
    display: inline-block;
    width: 100000px;
    height: 10000000px;
    background: white;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0; }

.body-sanpham {
  background: transparent;
  position: relative; }
  .body-sanpham::before {
    content: '';
    display: inline-block;
    width: 100000px;
    height: 10000000px;
    background: transparent;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0; }

.news-page {
  padding-top: 0; }
  .news-page .tab-categorypageBlogs {
    display: inline-block;
    width: 100%;
    padding: 15px 0 0 0;
    background: white;
    border-bottom: 1px solid #E6E6E6; }
  .news-page .content-tabBlogs {
    overflow-x: auto;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06); }
    .news-page .content-tabBlogs ul {
      width: max-content;
      padding: 0;
      margin-bottom: 0;
      display: flex; }
      .news-page .content-tabBlogs ul li {
        position: relative;
        width: max-content;
        list-style: none; }
        .news-page .content-tabBlogs ul li a {
          padding: 10px 15px;
          text-transform: uppercase;
          color: #494848;
          display: inline-block; }
          .news-page .content-tabBlogs ul li a::after {
            width: 100%;
            content: '';
            display: inline-block;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 0; }
        .news-page .content-tabBlogs ul li.active a {
          color: #332B68;
          font-weight: 700; }
          .news-page .content-tabBlogs ul li.active a::after {
            background: #332B68; }

body {
  font-family: 'Inter', sans-serif;
  color: #494848;
  font-weight: 400;
  padding: 0;
  margin: 0;
  font-size: 16px;
  width: 100%;
  line-height: 1.6; }

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  text-decoration: none; }

.header-page-Detail {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  float: left; }

.information-section-left-right.bg-gray .row {
  flex-direction: row-reverse; }
  .information-section-left-right.bg-gray .row .infor-columns-text-LeftRight {
    padding-left: 80px;
    padding-right: 0 !important; }
.information-section-left-right .thumbnail-about-avatar {
  position: relative;
  padding-top: 80%;
  overflow: hidden;
  border-radius: 12px;
  display: block; }
  .information-section-left-right .thumbnail-about-avatar img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0; }
.information-section-left-right .row {
  align-items: center;
  display: flex; }
.information-section-left-right .infor-columns-text-LeftRight {
  padding-right: 80px; }
  .information-section-left-right .infor-columns-text-LeftRight h3 {
    margin-bottom: 20px; }

.list-secondBlogs {
  padding-bottom: 0; }

@media only screen and (max-width: 800px) {
  .contact-bg {
    margin-top: 30px; }
    .contact-bg img {
      width: 100%;
      padding: 0; }

  .information-section-left-right.bg-gray .row .infor-columns-text-LeftRight {
    padding-left: 0 !important;
    padding-right: 0 !important; }

  .information-section-left-right .infor-columns-text-LeftRight {
    padding-left: 0 !important;
    padding-right: 0 !important; }

  .information-section-left-right .row {
    display: inline-block; }

  .infor-columns-text-LeftRight {
    margin-bottom: 20px; } }
.bg-header img {
  width: 100%;
  display: inline-block; }
  .bg-header img.bg-header-PC {
    width: 100%;
    display: inline-block; }
  .bg-header img.bg-header-MB {
    width: 100%;
    display: none; }

.show-result-rating ul {
  padding: 0;
  margin: 0; }
  .show-result-rating ul li {
    position: relative;
    padding-left: 50px;
    list-style: none;
    padding-right: 50px; }
    .show-result-rating ul li span:nth-child(1) {
      position: absolute;
      left: 0;
      font-size: 14px;
      color: #707070;
      top: 0; }
    .show-result-rating ul li b {
      position: absolute;
      right: 0;
      top: 0;
      font-weight: normal;
      font-size: 14px;
      color: #707070; }
    .show-result-rating ul li label {
      height: 20px;
      border: 1px solid #E6E6E6;
      border-radius: 800px;
      position: relative;
      width: 100%;
      overflow: hidden;
      display: inline-block; }
      .show-result-rating ul li label i {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #85B867;
        height: 20px; }

.repcomment textarea {
  width: 100%;
  display: inline-block;
  height: 80px;
  border: 1px solid #E6E6E6;
  background: white;
  border-radius: 8px;
  padding: 10px 15px;
  margin-bottom: 15px; }
.repcomment input {
  width: 100%;
  display: inline-block;
  padding: 5px 15px;
  height: 40px;
  border: 1px solid #E6E6E6;
  background: white;
  margin-bottom: 15px;
  border-radius: 8px; }
.repcomment .expand-rating {
  width: initial;
  height: 40px;
  background: #332B68;
  color: white;
  text-align: center;
  display: flex;
  border-radius: 8px;
  align-items: center; }
  .repcomment .expand-rating button {
    background: none !important;
    outline: none;
    border: 0 !important;
    width: 100%;
    border: 0; }
    .repcomment .expand-rating button span {
      float: none;
      color: white !important; }

.expand-none {
  display: none !important; }

/* --------------------------- Section form đăng ký ---------------------------*/
.section-form-dangky {
  display: inline-block;
  width: 100%; }

.box-question {
  margin-top: 30px !important; }

.sticky-box {
  position: -webkit-sticky;
  position: sticky;
  align-self: flex-start;
  top: 30px; }

.form-dangky {
  background: #fff;
  box-shadow: 0px 0px 32px rgba(129, 129, 129, 0.14);
  border-radius: 8px;
  padding: 30px;
  margin: 0px 0; }
  .form-dangky .tiltle-form {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 700; }
  .form-dangky p {
    color: #686868; }
  .form-dangky label {
    width: 100%;
    display: inline-block;
    color: #2A2F2B;
    opacity: 0.6; }
    .form-dangky label span {
      color: #F42C00; }
  .form-dangky input,
  .form-dangky select {
    background: #F5F7FB;
    border: 1px solid #E6E6E6;
    border-radius: 8px;
    height: 44px;
    font-size: 15px;
    outline: none;
    width: 100%; }
    .form-dangky input:focus,
    .form-dangky select:focus {
      outline: none;
      background: white !important; }
  .form-dangky select:focus {
    outline: none;
    background: white !important; }

.ratting-star {
  display: inline-block;
  width: 100%;
  margin-bottom: 15px; }
  .ratting-star .rate {
    padding: 0; }

.rate {
  float: left;
  height: 46px;
  padding: 0 10px; }

.rate:not(:checked) > input {
  position: absolute;
  top: -9999px; }

.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc; }

.rate:not(:checked) > label:before {
  content: '★ '; }

.rate > input:checked ~ label {
  color: #85B867; }

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #85B867; }

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #85B867; }

.login-popup {
  position: fixed;
  z-index: 2300;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(1, 7, 17, 0.9);
  -webkit-transition: all .5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.login-popup .login-popup-wrapper {
  opacity: 0;
  width: 90%;
  max-width: 500px;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-transition-delay: .7s;
  transition-delay: .7s; }
  .login-popup .login-popup-wrapper button span {
    font-size: 16px; }

.login-popup .login-popup__form {
  position: relative;
  padding: 10px 40px 30px 40px;
  border-radius: 5px;
  background-color: #fff; }

.login-popup .login-popup__form .input-icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 15px; }

.login-popup .login-popup__form .input-icon.icon-lock {
  font-size: 20px; }

.btn-form-rating {
  position: absolute;
  right: 15px;
  cursor: pointer;
  top: 15px; }
  .btn-form-rating img {
    width: 34px; }

.btn-social-message {
  position: fixed;
  bottom: 20px;
  right: 0;
  width: 90px;
  z-index: 99; }
  .btn-social-message a {
    display: inline-block;
    width: 100%;
    margin-bottom: -10px; }
    .btn-social-message a img {
      width: 100%; }

.sent-buttonn-rating {
  display: inline-block;
  text-align: right;
  width: 100%; }
  .sent-buttonn-rating button {
    color: white !important; }

.login-popup .custom-control-label a {
  color: #67B54B;
  border-bottom: 1px solid #67B54B; }

.login-popup .login-popup__title {
  font-size: 24px;
  margin-bottom: 15px; }

.login-popup .go-login,
.login-popup .go-register {
  color: #67B54B;
  margin-left: 10px; }

.login-popup .go-login i,
.login-popup .go-register i {
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
  font-size: 10px;
  margin-left: 6px;
  color: #67B54B;
  -webkit-transition: .3s linear;
  transition: 0.3s linear; }

.login-popup .go-login:hover i,
.login-popup .go-register:hover i {
  color: #fff;
  background-color: #67B54B; }

.login-popup.active {
  opacity: 1;
  visibility: visible; }

.login-popup.active .login-popup-wrapper {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }
  .login-popup.active .login-popup-wrapper .form-group input {
    height: 40px; }

.login-popup.inActive {
  opacity: 0;
  -webkit-transition-delay: .5s;
  transition-delay: 0.5s; }

.button-submitform button {
  float: right;
  border: 0;
  color: white !important; }

/* ------------------------------------ Footer  -------------------------------------------------------------------*/
.section-form-dangky {
  position: relative;
  z-index: 1;
  padding-top: 50px; }

.list-more-rating {
  display: inline-block;
  width: 100%;
  margin-top: 0px; }
  .list-more-rating.active {
    display: inline-block !important; }

.btn-action-s21 {
  display: inline-block;
  width: 100%;
  margin-top: 30px;
  text-align: center; }
  .btn-action-s21 .align-items-center {
    text-align: right; }
  .btn-action-s21 a {
    margin-right: 0 !important; }

.button-rating .btn__primary {
  background: #332B68;
  color: white;
  text-transform: capitalize;
  position: relative;
  z-index: 1;
  font-size: 15px !important;
  font-weight: 700 !important;
  height: 50px !important;
  line-height: 50px;
  text-align: center;
  min-width: 160px !important;
  padding: 0 25px;
  border: 0;
  border-radius: 800px;
  overflow: hidden;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  text-transform: uppercase;
  color: white;
  background: #332B68; }
  .button-rating .btn__primary span {
    color: white; }
  .button-rating .btn__primary:hover span {
    color: white !important; }

.p-section-29 .container {
  max-width: 1000px; }

.rep-comment {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px; }
  .rep-comment button {
    float: left;
    border: 0;
    background: none; }
    .rep-comment button img {
      float: left;
      margin: 2px 5px 0 0; }
    .rep-comment button span {
      float: left; }

.category-list {
  padding-top: 30px; }
  .category-list h2 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #332B68;
    margin-bottom: 30px; }
  .category-list nav ul li {
    list-style: none;
    border-bottom: 2px solid #F5F7FB;
    position: relative; }
    .category-list nav ul li::before {
      content: '';
      display: inline-block;
      width: 2px;
      height: 16px;
      position: absolute;
      right: 7px;
      top: 15px;
      background: #85B867; }
    .category-list nav ul li::after {
      content: '';
      display: inline-block;
      width: 16px;
      height: 2px;
      position: absolute;
      right: 0;
      top: 22px;
      background: #85B867; }
    .category-list nav ul li a, .category-list nav ul li b {
      color: #494848;
      display: inline-block;
      padding: 10px 0;
      font-weight: normal;
      width: 100%;
      cursor: pointer; }
    .category-list nav ul li.active {
      border-bottom: 2px solid #85B867; }
      .category-list nav ul li.active a, .category-list nav ul li.active b {
        color: #85B867; }
      .category-list nav ul li.active::before {
        display: none; }
    .category-list nav ul li.all-sort::before, .category-list nav ul li.all-sort::after {
      display: none; }

.body-chuyengia {
  background: white;
  min-height: 1000px;
  box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
  display: inline-block;
  padding-bottom: 50px; }

.body-sanpham {
  background: transparent;
  min-height: 1000px;
  display: inline-block;
  padding-bottom: 50px; }

.pagging-page {
  width: 100%;
  display: flex;
  margin-top: 30px;
  justify-content: center;
  position: relative; }
  .pagging-page .pagination {
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0; }
  .pagging-page ul li a img {
    width: 11px; }
  .pagging-page ul li a,
  .pagging-page ul li span {
    width: 32px;
    border: 0;
    height: 32px;
    margin: 0 3px;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
    color: #494848;
    padding: 5px; }
    .pagging-page ul li a.active,
    .pagging-page ul li span.active {
      border: 1px solid #332B68 !important;
      color: white;
      background-color: white;
      padding-top: 5px;
      background: #332B68; }

.pt-0 {
  padding-top: 0 !important; }

section {
  float: left;
  width: 100%; }

.first-about {
  float: left;
  width: 100%; }
  .first-about .editor-tab {
    margin-bottom: 15px;
    padding-top: 0; }

.expand-rating {
  display: inline-block;
  width: 100%;
  text-align: center; }
  .expand-rating button {
    border: 1px solid #332B68 !important;
    background: white;
    width: 250px; }
    .expand-rating button i {
      color: white !important;
      background: #332B68 !important; }
    .expand-rating button span {
      color: #332B68 !important; }
    .expand-rating button:hover {
      background: #332B68; }
      .expand-rating button:hover i {
        color: #332B68 !important;
        background: white !important; }
      .expand-rating button:hover span {
        color: white !important; }

.bg-gray {
  background: #F5F7FB; }

.btn {
  text-transform: capitalize;
  position: relative;
  z-index: 1;
  font-size: 15px !important;
  font-weight: 700 !important;
  height: 50px !important;
  line-height: 50px;
  text-align: center;
  min-width: 160px !important;
  padding: 0 25px;
  border: 0;
  border-radius: 800px;
  overflow: hidden;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  text-transform: uppercase;
  color: white;
  background: #332B68; }

.p-list-review {
  display: inline-block;
  width: 100%; }
  .p-list-review .p-infor-review {
    display: inline-block;
    width: 100%; }
    .p-list-review .p-infor-review b {
      font-size: 16px;
      font-weight: bold;
      margin-right: 10px;
      float: left; }
    .p-list-review .p-infor-review span {
      float: left; }
  .p-list-review .p-ratting-user-cmt {
    display: flex;
    float: left;
    margin-left: 20px; }
    .p-list-review .p-ratting-user-cmt img {
      width: 16px; }
    .p-list-review .p-ratting-user-cmt b {
      color: #707070;
      font-size: 12px;
      margin-left: 3px; }
  .p-list-review .item-review {
    display: inline-block;
    padding-left: 80px;
    position: relative;
    padding-bottom: 0px;
    margin-bottom: 20px;
    border-bottom: 1px solid #E6E6E6; }
    .p-list-review .item-review .item-review {
      padding-left: 80px;
      border: 0;
      margin-top: 20px; }
    .p-list-review .item-review span.p-name-acc {
      position: absolute;
      left: 0;
      top: 0;
      padding-top: 18px;
      width: 60px;
      font-size: 16px;
      font-weight: bold;
      background: #dedede;
      text-transform: uppercase;
      text-align: center;
      height: 60px;
      border-radius: 50%;
      color: #494848; }
  .p-list-review h4 {
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px; }
  .p-list-review p {
    display: inline-block;
    width: 100%;
    text-align: justify; }

.p-section-rating .container {
  max-width: 1000px;
  margin: auto; }
  .p-section-rating .container .p-ratting-box .infor-resul-rating h6 {
    display: inline-block;
    width: 100%;
    font-size: 24px;
    color: #494848;
    font-weight: normal; }
.p-section-rating b {
  font-size: 32px;
  font-weight: bold;
  margin-right: 10px;
  color: #332B68; }
.p-section-rating span {
  color: #707070; }
.p-section-rating .star-comment {
  text-align: left; }
  .p-section-rating .star-comment img {
    height: 37px; }

.title-section-Detail {
  display: inline-block;
  margin-bottom: 30px;
  text-align: center;
  width: 100%; }
  .title-section-Detail h2 {
    color: #332B68;
    margin-bottom: 0; }

.inforDetailProduct-Section {
  padding-top: 0; }
  .inforDetailProduct-Section .title-section-Detail {
    display: inline-block;
    margin-bottom: 30px;
    text-align: center;
    width: 100%; }
    .inforDetailProduct-Section .title-section-Detail h2 {
      color: #332B68;
      margin-bottom: 0; }

.page-list {
  max-width: 90% !important; }

.content-header-infor {
  max-width: 667px;
  padding-top: 100px;
  text-align: left; }
  .content-header-infor p {
    color: white;
    font-size: 16px;
    margin-top: 20px; }
  .content-header-infor h1 {
    display: inline-block;
    width: 100%;
    color: white;
    font-weight: normal; }
    .content-header-infor h1 b {
      color: white;
      font-weight: 700; }
  .content-header-infor h2 {
    font-size: 50px;
    font-weight: normal;
    margin-top: 0;
    color: white; }
    .content-header-infor h2 b {
      font-weight: 700;
      color: #85B867; }

.breadcrumbs {
  display: flex;
  align-items: center;
  padding-top: 100px;
  width: max-content;
  overflow-x: auto;
  padding-top: 100px; }
  .breadcrumbs i::before {
    display: none !important; }
  .breadcrumbs a img {
    margin-top: -5px;
    display: inline-block; }
  .breadcrumbs a {
    color: white;
    font-size: 12px; }
  .breadcrumbs i {
    display: inline-block;
    padding: 0 7px; }
    .breadcrumbs i.ti-angle-right {
      background: url(../images/right.svg) no-repeat center;
      width: 4px;
      height: 9px;
      display: inline-block; }

.content-header-page {
  position: absolute;
  z-index: 9;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%; }

section {
  padding: 50px 0; }

.section-first-productDetail .inforSectionFirst-DetailPage {
  position: relative; }
  .section-first-productDetail .inforSectionFirst-DetailPage .thumbail-SectionFirst {
    padding: 10px; }
    .section-first-productDetail .inforSectionFirst-DetailPage .thumbail-SectionFirst img {
      width: 100%; }

.flex-infor {
  display: flex;
  align-items: center;
  width: 100%; }

.content-technical-Sperovid .row {
  display: flex;
  align-items: center; }

.infor-Sperovid ul {
  margin-top: 20px; }
  .infor-Sperovid ul li {
    margin-bottom: 10px !important;
    padding-left: 32px !important; }
    .infor-Sperovid ul li::before {
      width: 25px !important;
      height: 25px !important;
      top: 4px !important;
      background-size: contain !important; }
    .infor-Sperovid ul li p {
      margin-bottom: 0;
      line-height: 29px !important;
      font-size: 16px !important; }
.infor-Sperovid p {
  font-size: 16px;
  line-height: 35px; }
  .infor-Sperovid p b {
    font-size: 28px;
    color: #332B68;
    font-weight: 800; }

.thumbail-Sperovid img {
  width: 100%; }

ul.list-check {
  padding: 0; }
  ul.list-check li {
    list-style: none;
    padding-left: 40px;
    margin-bottom: 20px;
    position: relative; }
    ul.list-check li::before {
      width: 31px;
      height: 31px;
      display: inline-block;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      background: url(../images/check.svg) no-repeat center top; }
    ul.list-check li p {
      font-size: 16px;
      margin-bottom: 0; }

.body-faqs {
  max-width: 700px;
  margin: auto; }
  .body-faqs img {
    max-width: 100%; }

.listfaqs {
  margin-top: 20px; }

.item-faqs {
  margin-bottom: 0px;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #E6E6E6; }

.editor-tab p {
  line-height: 29px; }
.editor-tab h6 {
  font-size: 16px;
  font-weight: 700; }

.title-answer {
  background: url(../images/answer-title.svg);
  width: 79px;
  height: 29px;
  display: flex;
  margin-right: 10px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  align-items: center;
  padding-left: 10px; }

.infor-data-doctor {
  display: inline-block; }
  .infor-data-doctor span {
    color: #707070; }
  .infor-data-doctor b {
    color: #494848;
    font-weight: 700;
    margin-left: 20px; }

.head-answer {
  display: flex;
  align-items: center; }

.answer-faqs {
  background: #F5F7FB;
  padding: 20px;
  width: 100%;
  display: none; }

.sectio-columns-boxServices {
  padding-top: 0 !important; }

.box-icon-Services {
  background: #FFFFFF;
  display: inline-block;
  width: 100%;
  box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
  border-radius: 12px !important;
  overflow: hidden;
  padding-top: 30px;
  margin-top: 30px; }
  .box-icon-Services .avatar-format-scale {
    display: flex;
    justify-content: center; }
    .box-icon-Services .avatar-format-scale a {
      position: relative;
      display: block; }
      .box-icon-Services .avatar-format-scale a img {
        height: 90px;
        left: 0;
        top: 0; }
  .box-icon-Services .infor-services-box {
    display: inline-block;
    background: white;
    text-align: center;
    padding: 20px; }
    .box-icon-Services .infor-services-box p {
      line-height: 27px; }
    .box-icon-Services .infor-services-box span {
      color: #707070; }
      .box-icon-Services .infor-services-box span a {
        font-weight: 700;
        color: #494848; }
    .box-icon-Services .infor-services-box h6 a {
      color: #494848;
      font-weight: 700;
      font-size: 16px;
      text-align: center;
      display: -webkit-box;
      line-height: 27px;
      min-height: 56px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden; }

.item-faqs.active .answer-faqs {
  display: inline-block !important; }
.item-faqs.active .question h6 b {
  color: #85B867; }

.question h6 {
  cursor: pointer;
  padding: 10px 0; }
  .question h6 b {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px; }

.ngon-ngu-pc img {
  width: 21px; }
.ngon-ngu-pc span {
  color: white; }

.right-header ul {
  display: flex;
  align-items: center;
  margin-bottom: 0; }
  .right-header ul li {
    list-style: none;
    margin-left: 40px; }

.btn-action {
  margin-top: 20px;
  display: inline-block;
  width: 100%;
  text-align: left; }
  .btn-action.center {
    text-align: center; }
  .btn-action a {
    display: inline-flex;
    align-items: center;
    justify-content: center; }
  .btn-action button {
    outline: none; }

.btn-common-fill {
  display: inline-block;
  background: #332B68;
  padding: 0 30px;
  color: white;
  text-align: center;
  transition: all .3s ease-in-out;
  border: 1.5px solid #332B68;
  color: white;
  border-radius: 30px;
  height: 45px;
  line-height: 51px;
  font-weight: 600; }
  .btn-common-fill span {
    margin-left: 5px; }
  .btn-common-fill:hover {
    opacity: 0.8;
    color: white;
    background: #85B867;
    border-color: #85B867; }

.infor-science-Section {
  padding-top: 0; }

.infor-science-box {
  display: inline-block;
  background: white;
  padding: 20px;
  text-align: left; }
  .infor-science-box p {
    color: #707070;
    margin-top: 15px;
    display: inline-block;
    width: 100%; }
  .infor-science-box span {
    color: #707070; }
    .infor-science-box span a {
      color: #707070; }
  .infor-science-box h6 {
    margin-bottom: 9px; }
    .infor-science-box h6 a {
      color: #494848;
      font-weight: 700;
      font-size: 18px;
      display: -webkit-box;
      line-height: 27px;
      min-height: 70px;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden; }

.tin-lien-quan .owl-next span, .tin-lien-quan .owl-prev span {
  top: 31%; }
.tin-lien-quan .owl-dots {
  display: none; }

.bg-tin-lienquan {
  background: #F5F7FB;
  z-index: -1;
  min-height: 360px;
  margin-top: -341px; }

.avatar-Blogs-Detail, .editor-Blogs-Detail-Page {
  width: 100%; }
  .avatar-Blogs-Detail img, .editor-Blogs-Detail-Page img {
    width: 100%; }

.content-share img {
  width: 30px; }

.tags-box a {
  height: 36px !important;
  padding: 0 15px !important;
  margin-right: 6px !important;
  margin-bottom: 10px !important; }

.editor-Blogs-Detail-Page {
  padding: 30px 0; }
  .editor-Blogs-Detail-Page p {
    text-align: justify; }
  .editor-Blogs-Detail-Page img {
    margin: 20px 0; }
  .editor-Blogs-Detail-Page h6 {
    font-size: 16px;
    font-weight: 700; }

.social-box {
  display: inline-block;
  max-width: 100%;
  margin: auto;
  width: 100%; }
  .social-box .content-share {
    max-width: 816px;
    margin: auto;
    text-align: right; }
    .social-box .content-share img {
      margin-left: 10px; }

.tags-box {
  max-width: 100%;
  margin: auto; }
  .tags-box a {
    background: white;
    border: 1px solid #332B68;
    height: 40px;
    padding: 0 20px;
    text-decoration: none;
    display: flex;
    color: #332B68;
    width: fit-content;
    margin-right: 10px;
    float: left;
    align-items: center;
    border-radius: 100px; }
    .tags-box a:hover {
      background: #332B68;
      color: white; }

.box-content-Editor {
  margin-top: 30px;
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 20px;
  display: inline-block;
  position: sticky;
  left: 0;
  top: 100px; }
  .box-content-Editor ul li {
    list-style: none;
    position: relative;
    padding-left: 20px; }
    .box-content-Editor ul li::before {
      position: absolute;
      left: 0;
      top: 18px;
      width: 6px;
      height: 6px;
      border-radius: 1000px;
      content: '';
      display: inline-block;
      background: #332B68;
      content: '';
      display: inline-block; }
    .box-content-Editor ul li a {
      font-size: 14px;
      padding: 10px 0;
      border-bottom: 1px solid #E6E6E6;
      color: #494848;
      display: inline-block;
      width: 100%; }
      .box-content-Editor ul li a:hover {
        color: #332B68; }
    .box-content-Editor ul li:nth-last-child(1) a {
      border-bottom: 0;
      padding-bottom: 0; }

.descriptio-Blogs-Detail {
  overflow: initial;
  padding-top: 0; }
  .descriptio-Blogs-Detail .body-description .description-short {
    max-width: 1100px;
    padding: 20px 0;
    margin: auto; }
    .descriptio-Blogs-Detail .body-description .description-short b {
      font-weight: 700;
      font-size: 18px; }

.page-Detail-Blogs {
  max-width: 100%;
  margin: 0; }
  .page-Detail-Blogs p a {
    color: white;
    text-decoration: none !important; }

.p0 {
  padding: 0 !important; }

.small-Blogs .infor-science-box {
  padding-top: 10px; }
.small-Blogs .infor-science-box h6 a {
  color: #494848;
  font-weight: 700;
  font-size: 16px !important;
  display: -webkit-box;
  line-height: 27px;
  min-height: 56px !important;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical;
  overflow: hidden; }
.small-Blogs span {
  font-size: 13px; }

.item-science {
  background: #FFFFFF;
  display: inline-block;
  width: 100%;
  box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.05);
  border-radius: 12px !important;
  overflow: hidden;
  margin-bottom: 30px; }
  .item-science .avatar-format-scale a {
    position: relative;
    padding-top: 56%;
    display: block; }
    .item-science .avatar-format-scale a img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0; }

.infor-Content-Section-First .btn-action {
  margin-top: 20px; }

.editor-tab h3 {
  font-size: 20px; }
.editor-tab p {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  line-height: 26px;
  color: #494848; }

.infor-item-element-Product {
  position: relative;
  min-height: 110px;
  display: flex;
  align-items: center;
  margin-top: 30px;
  padding-left: 140px; }
  .infor-item-element-Product img {
    margin-right: 20px;
    width: 110px;
    position: absolute;
    left: 0;
    top: 0;
    height: 110px;
    object-fit: cover; }

.editor-tab {
  padding: 30px 0 0 0; }

section {
  overflow: hidden; }

.infor-detail-product-Page {
  display: inline-block;
  width: 100%;
  background: #F5F7FB; }

.contet-tab-InforProduct {
  float: left;
  width: 100%; }

.body-tab-infor_product {
  display: inline-block;
  width: 100%;
  padding: 30px 0; }
  .body-tab-infor_product .tab-content {
    background: white;
    border-radius: 12px;
    display: inline-block;
    width: 100%;
    padding: 30px;
    margin-top: 11px;
    padding-top: 0;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.07);
    border-radius: 12px; }
  .body-tab-infor_product ul.nav-tabs {
    display: flex;
    border: 0;
    justify-content: center; }
    .body-tab-infor_product ul.nav-tabs li {
      border: 0; }
      .body-tab-infor_product ul.nav-tabs li a {
        padding: 0 20px;
        border: 0 !important;
        background: none !important;
        font-size: 16px;
        color: #494848 !important;
        font-weight: 700;
        position: relative; }
        .body-tab-infor_product ul.nav-tabs li a::after {
          height: 2px;
          width: 100%;
          display: inline-block;
          background: none;
          content: '';
          position: absolute;
          bottom: -10px;
          left: 0; }
        .body-tab-infor_product ul.nav-tabs li a.active {
          color: #85B867 !important; }
          .body-tab-infor_product ul.nav-tabs li a.active::after {
            background: #85B867; }

.infor-Content-Section-First {
  padding-left: 60px; }
  .infor-Content-Section-First ul {
    padding: 0; }
    .infor-Content-Section-First ul li {
      list-style: none;
      padding-left: 30px;
      margin-bottom: 20px;
      position: relative; }
      .infor-Content-Section-First ul li::before {
        width: 26px;
        height: 26px;
        display: inline-block;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        background: url(../images/check.svg) no-repeat center top;
        background-size: contain; }
      .infor-Content-Section-First ul li p {
        font-size: 16px;
        margin-bottom: 0; }
  .infor-Content-Section-First h6 {
    text-transform: uppercase;
    font-size: 24px;
    color: #85B867; }
  .infor-Content-Section-First h3 {
    font-weight: 400;
    color: #332B68;
    display: inline-block;
    width: 100%;
    font-size: 32px;
    line-height: 51px;
    margin-bottom: 20px;
    margin-top: 10px; }
    .infor-Content-Section-First h3 b {
      font-weight: 700; }

.price-product {
  font-size: 50px;
  color: #332B68;
  font-weight: 700; }

.ratingbox {
  align-items: center;
  display: flex; }
  .ratingbox .img-rating {
    display: flex; }
    .ratingbox .img-rating img {
      margin-right: 4px;
      width: 22px; }
  .ratingbox span {
    font-size: 16px;
    color: #494848; }
    .ratingbox span b {
      font-size: 25px;
      margin-right: 5px;
      color: #85B867; }

.infor-Content-Section-First .btn-action a {
  font-size: 18px;
  width: 300px; }

@media only screen and (max-width: 1450px) {
  .content-header-infor {
    max-width: 467px;
    padding-top: 30px;
    text-align: left; }
    .content-header-infor h1 {
      display: inline-block;
      width: 100%;
      color: white;
      font-size: 50px;
      font-weight: normal; }
      .content-header-infor h1 b {
        color: white;
        font-weight: 700; }
    .content-header-infor h2 {
      font-size: 40px;
      font-weight: normal;
      color: white; }
      .content-header-infor h2 b {
        font-weight: 700;
        color: #85B867; } }
/*---vide0 bg--*/
.video-cans {
  display: inline-block;
  width: 100%;
  position: relative;
  background-size: cover !important;
  height: 645px;
  border-radius: 12px !important;
  overflow: hidden; }
  .video-cans img {
    width: 100%; }

.close-bg-video {
  position: absolute;
  right: -50px;
  top: -10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  font-weight: normal;
  border: 0;
  font-size: 16px;
  outline: none;
  z-index: 9999999;
  background-color: white; }

.current_page_item a {
  color: #332B68; }

.overlay {
  width: 100%;
  margin: 0 auto;
  height: 645px;
  display: none; }
  .overlay._active {
    display: block; }
    .overlay._active iframe {
      width: 100%;
      height: 645px; }

/*---vide0 bg--*/
/*=====sản phẩm========*/
.box-bill {
  padding: 30px;
  border-radius: 12px; }
  .box-bill:hover {
    box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
    background: white; }
  .box-bill .name-bill-top {
    text-align: center; }
    .box-bill .name-bill-top .item-product {
      position: relative;
      padding-top: 0%;
      display: block;
      height: 278px; }
      .box-bill .name-bill-top .item-product img {
        max-width: 100%;
        max-height: 100%; }
    .box-bill .name-bill-top h5 {
      margin: 40px 0;
      min-height: 52px; }
      .box-bill .name-bill-top h5 a {
        color: #494848; }
  .box-bill .list-function .icon-item {
    width: 100%;
    position: relative;
    display: inline-grid;
    align-items: center;
    align-content: center;
    margin-bottom: 15px; }
    .box-bill .list-function .icon-item:nth-last-child(1) {
      margin-bottom: 0; }
    .box-bill .list-function .icon-item i {
      width: 22px;
      height: 22px;
      text-align: center;
      border-radius: 50%;
      background: #75BBB8;
      line-height: 18px;
      position: absolute; }
      .box-bill .list-function .icon-item i::before {
        color: white;
        font-size: 10px; }
    .box-bill .list-function .icon-item span {
      font-family: inter, sans-serif;
      padding-left: 32px;
      float: left;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      color: #707070;
      line-height: 26px; }

/*============not fount=============*/
.not-found img {
  max-width: 300px;
  margin-bottom: 25px; }

@media only screen and (max-width: 1200px) {
  .content-header-infor {
    max-width: 467px;
    padding-top: 0px; }

  .box-content-Editor {
    display: none; } }
@media only screen and (max-width: 800px) {
  .box-contact-page {
    background: #FFFFFF;
    border-radius: 12px;
    display: inline-block;
    padding: 30px 20px;
    width: 100%; }

  .descriptio-Blogs-Detail {
    padding: 20px 15px; }

  .head-answer {
    display: inline-block;
    margin-bottom: 10px; }

  .video-cans {
    display: inline-block;
    width: 100%;
    position: relative;
    background-size: contain !important;
    height: 205px;
    margin-top: 20px; }

  .overlay._active iframe {
    width: 100%;
    height: 205px; }

  .title-answer {
    margin-bottom: 10px; }

  .infor-data-doctor b {
    color: #494848;
    font-weight: 700;
    margin-left: 0;
    width: 100%;
    display: inline-block;
    text-align: left;
    margin-top: 6px; }

  .item-science {
    margin-bottom: 30px; }

  .infor-Content-Section-First {
    padding-left: 0; }

  .infor-Content-Section-First .btn-action a {
    font-size: 18px;
    width: 100%; }

  .title-section-Detail h2 {
    font-size: 30px !important; }

  .infor-Sperovid p b {
    font-size: 24px;
    color: #332B68;
    font-weight: 800; }

  .infor-Content-Section-First h3 {
    color: #332B68;
    display: inline-block;
    width: 100%;
    font-size: 30px;
    line-height: 41px;
    margin-bottom: 20px;
    margin-top: 10px; }

  .content-header-infor h2 b br {
    display: none; }

  .body-tab-infor_product {
    display: inline-block;
    width: 100%;
    padding: 0px 0; }

  .infor-item-element-Product img {
    width: 80px;
    height: 80px;
    border-radius: 8px; }

  .infor-item-element-Product {
    position: relative;
    min-height: 80px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding-left: 100px; }

  .price-product {
    font-size: 50px;
    color: #332B68;
    font-weight: 700; }

  .ratingbox .img-rating img {
    margin-right: 4px;
    width: 20px; }

  .ratingbox span {
    font-size: 13px;
    color: #494848; }

  .ratingbox span b {
    font-size: 16px; }

  section {
    padding: 20px 0; }

  .body-tab-infor_product ul.nav-tabs li a::after {
    height: 2px;
    width: 100%;
    display: inline-block;
    background: none;
    content: '';
    position: absolute;
    bottom: 4px;
    left: 0; }

  .body-tab-infor_product ul.nav-tabs li a {
    padding: 15px 20px; }

  .content-technical-Sperovid .row {
    display: inline-block; }

  .title-tab-scroll {
    overflow-x: auto;
    display: inline-block;
    width: 100%; }

  .title-tab-scroll {
    overflow-x: auto; }
    .title-tab-scroll ul {
      width: max-content; }

  .bg-header img.bg-header-PC {
    width: 100%;
    display: none; }
  .bg-header img.bg-header-MB {
    width: 100%;
    display: block; }

  .content-header-infor {
    max-width: 100% !important;
    padding-top: 60px;
    text-align: left; }
    .content-header-infor p {
      color: white;
      font-size: 16px;
      line-height: 28px;
      margin-top: 10px; } }
.descriptio-Blogs-Detail .editor-Blogs-Detail-Page div, .descriptio-Blogs-Detail .editor-Blogs-Detail-Page ul, .descriptio-Blogs-Detail .editor-Blogs-Detail-Page li {
  height: initial !important;
  width: initial !important; }
.descriptio-Blogs-Detail .editor-Blogs-Detail-Page ul {
  padding-left: 15px; }
.descriptio-Blogs-Detail .editor-Blogs-Detail-Page h1, .descriptio-Blogs-Detail .editor-Blogs-Detail-Page h2, .descriptio-Blogs-Detail .editor-Blogs-Detail-Page h3, .descriptio-Blogs-Detail .editor-Blogs-Detail-Page h4, .descriptio-Blogs-Detail .editor-Blogs-Detail-Page h5, .descriptio-Blogs-Detail .editor-Blogs-Detail-Page h6, .descriptio-Blogs-Detail .editor-Blogs-Detail-Page p, .descriptio-Blogs-Detail .editor-Blogs-Detail-Page span, .descriptio-Blogs-Detail .editor-Blogs-Detail-Page b, .descriptio-Blogs-Detail .editor-Blogs-Detail-Page label, .descriptio-Blogs-Detail .editor-Blogs-Detail-Page strong, .descriptio-Blogs-Detail .editor-Blogs-Detail-Page i {
  font-size: initial; }

.box-content-Editor ul {
  padding-left: 15px; }
.box-content-Editor h1, .box-content-Editor h2, .box-content-Editor h3, .box-content-Editor h4, .box-content-Editor h5, .box-content-Editor h6, .box-content-Editor p, .box-content-Editor span, .box-content-Editor b, .box-content-Editor label, .box-content-Editor strong, .box-content-Editor i {
  font-size: initial;
  font-weight: initial; }

.about-huro .video-about-huro .about-left {
  padding: 59px 40px; }

.answer-faqs .editor-tab h1,
.answer-faqs .editor-tab h2,
.answer-faqs .editor-tab h3,
.answer-faqs .editor-tab h4,
.answer-faqs .editor-tab h5,
.answer-faqs .editor-tab h6,
.answer-faqs .editor-tab span,
.answer-faqs .editor-tab b,
.answer-faqs .editor-tab p,
.answer-faqs .editor-tab label {
  font-size: initial; }

.answer-faqs .editor-tab ul {
  padding-left: 15px; }

@media only screen and (max-width: 767px) {
  .logo-chung-nhan.mt-60 {
    margin-bottom: 30px !important; }

  .section-tab .nav.nav-tabs .nav-item.nav-link {
    width: 13.666%; }

  .row.chung-nhan.mt-60 {
    margin-top: 0 !important; }

  .section-banner-top .item-slider .content-slider h1 {
    padding: 10px 0; }

  .content-head .menu nav > ul > li.submenu > ul {
    list-style-type: none !important;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 10px 20px !important;
    top: 120px; }

  .ngon-ngu-pc a {
    display: flex; }

  .ngon-ngu-pc a img {
    margin-right: 3px; }

  .about-huro .video-cans {
    width: 100%;
    background-size: cover !important; }

  .about-huro .video-cans {
    border-radius: 12px !important; }

  .body-tab-infor_product ul.nav-tabs li a {
    padding: 20px 20px;
    height: 70px;
    display: inline-block; } }
.subcate-page {
  display: none;
  width: 100%;
  padding-left: 20px; }
  .subcate-page a {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    color: #494848 !important; }
    .subcate-page a.active {
      color: #85B867 !important; }

.category-list ul li.active .subcate-page {
  display: inline-block !important; }

/*# sourceMappingURL=style.css.map */
